<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Creator</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createContactFormModal')"
                                        class="button rounded  clear active ">+ Add Creator</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <app-table-action></app-table-action>

            <div *ngIf="creator" class="fade-in">
                <div *ngIf="creator.length !==0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-2">
                                Creator
                            </div>

                            <div class="flex-item flex-1">
                                Social Media
                            </div>








                            <div class="flex-item flex-1">
                                Company
                            </div>



                            <div class="flex-item flex-1">
                                Campaign
                            </div>


                            <div class="flex-item flex-1">
                                Performance
                            </div>
                            <div class="flex-item flex-1">
                                Ratecard
                            </div>

                        </div>
                    </div>
                    <div class="table-body ">
                        <div *ngFor="let item of creator"
                            class="flex-container table-body-item align-center hover-show ">



                            <div [routerLink]="['/creator/creator/view/', item.id]" class="flex-item flex-2 cursor ">


                                <div class="flex-container align-center">
                                    <div class="flex-item margin-right-05">
                                        <div class="avatar-container" style="width: 60px;height: 60px;">
                                            <img style="width: 60px;height: 60px;" *ngIf="item.profile_photo_url"
                                                class="avatar-image" [src]="item.profile_photo_url" alt="">

                                            <div *ngIf="!item.profile_photo_url"
                                                style="width: 60px;height: 60px;line-height: 60px;"
                                                class="avatar-placeholder">
                                                {{ getPlaceholderName(item)}}
                                            </div>
                                        </div>





                                    </div>
                                    <div class="flex-item flex-1">
                                        <div>
                                            {{item.first_name}} {{item.last_name}} <span [ngClass]="item.tier"
                                                class="span-label tiny-text margin-right-05">{{item.tier}}</span>
                                            <fa-icon class="hide" [icon]="faExpandAlt"></fa-icon>
                                        </div>
                                        <div class="color-grey">
                                            Lifestyle, Beauty, Foodie
                                        </div>

                                        <div class="color-grey">
                                            {{item.location}}
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="flex-item flex-1">
                                Social Media
                            </div>








                            <div class="flex-item flex-1">
                                <div class="">{{item.company_type}}</div>
                                <div class="color-grey">{{item.company_name}}</div>

                            </div>


                            <div class="flex-item flex-1">
                                {{item.campaign_count}} Campaign
                            </div>


                            <div class="flex-item flex-1">
                              
                                <app-status-label [label]="item.performance"></app-status-label>
                            </div>

                            <div class="flex-item flex-1">

                                <button (click)="viewRate(item)"
                                    class="button tiny clear active margin-bottom-0">
                                    {{item.rate.length}} Service <fa-icon [icon]="faChevronDown">
                                    </fa-icon>
                                </button>
                            </div>



                        </div>

                    </div>

                </div>

                <app-placeholder *ngIf="creator.length ===0"></app-placeholder>

            </div>








        </div>

    </div>
    <app-modal *ngIf="showModal == 'createContactFormModal' " [title]="'Add Creator'" (onClose)="closeModal()">

        <div class="campaign-container sub-menu-container">

            <form class="form" [formGroup]="createContactForm">

                <div class="margin-bottom-1 padding-bottom-1 border-bottom">
                    <h5>Personal Information</h5>
                    <div class="flex-container">
                        <div class="flex-item flex-1 margin-right-05">
                            <label for="">First Name</label>
                            <input class="margin-bottom-0" formControlName="first_name" type="text" name="" id="">

                        </div>
                        <div class="flex-item flex-1">
                            <label for="">Last Name</label>
                            <input class="margin-bottom-0" formControlName="last_name" type="text" name="" id="">
                        </div>
                    </div>

                    <a (click)="toggleAlias()" class="small-text white">{{alias?'Remove Alias':'Add Alias?'}}</a>

                    <span *ngIf="alias">
                        <label for="">Alias</label>
                        <input formControlName="alias" type="text" name="" id="">

                    </span>

                    <div class="flex-container">
                        <div class="flex-item flex-1 margin-right-05">
                            <label for="">Day of Birth</label>
                            <input formControlName="dob" type="date" name="" id="">
                        </div>
                        <div class="flex-item flex-1">
                            <label for="">Domicile</label>


                            <input formControlName="location" list="brow" type="text">


                        </div>
                    </div>

                    <div class="flex-container">
                        <div class="flex-item flex-1 margin-right-05">

                        </div>
                        <div class="flex-item flex-1">

                        </div>
                    </div>






                </div>

                <h5 class="margin-bottom-1">Business Information</h5>

                <label for="">Tier</label>
                <select formControlName="tier" name="" id="">
                    <option *ngFor="let item of tier" [value]="item.id">{{item.id}} - {{item.value}}</option>
                </select>



                <div class="flex-container">
                    <div class="flex-item flex-1 margin-right-05">

                        <label for="">Company Type</label>
                        <input formControlName="company_type" type="text" name="" id="">
                    </div>
                    <div class="flex-item flex-1">
                        <label for="">Company Name</label>
                        <input formControlName="company_name" type="text" name="" id="">
                    </div>
                </div>








            </form>


        </div>

        <app-modal-sheets [title]="'Add Personification'" *ngIf="showMiniModal == 'personificationMiniModal'"
            (onClose)="closeMiniModal()">

            ..

        </app-modal-sheets>

        <app-modal-sheets [title]="'Add Manager'" *ngIf="showMiniModal == 'managerMiniModal'"
            (onClose)="closeMiniModal()">

            ..

        </app-modal-sheets>

        <div class="callout">
            <button (click)="addCreator(false)" class="button expanded elevate">Add Creator</button>
            <button (click)="addCreator(true)" class="button expanded elevate">Add & Continue Edit</button>


        </div>


    </app-modal>


    <app-modal *ngIf="showModal == 'contactModal' " (onClose)="closeModal()"></app-modal>

    <app-modal [title]="'Ratecard'" *ngIf="showModal == 'rateModal'" (onClose)="closeModal()">
        <div class="table-body" *ngIf="selected_creator">

            <button (click)="openMiniModal('addRateCart')" class="button clear tiny active hollow">
                + Add Rate Cart
            </button>

            <div class="table-header">
                <div class="flex-container table-header-item">


                    <div class="flex-item flex-1">
                        Service
                    </div>

                    <div class="flex-item flex-1">
                        Price
                    </div>

                </div>
            </div>
            <div class="table-body">
                <div *ngFor="let item of selected_creator?.rate" class="flex-container table-body-item">


                    <div class="flex-item flex-1">
                        <div class="large-text">
                            {{item.rate_name}}
                        </div>
                        <div class="tiny-text color-grey">
                            {{item.platform_name}}
                        </div>
                    </div>

                    <div class="flex-item flex-1">
                        <div class="large-text">
                            {{item.rate_price  | currency:"IDR":"Rp"}}
                        </div>

                        <div class="tiny-text color-grey">
                            {{item.rate_price_per}}
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <app-modal-sheets [title]="'Add New Rate'" *ngIf="showMiniModal == 'addRateCart'" (onClose)=closeMiniModal()>
            <div class="form">
                <label for="">Platform</label>
                <select [(ngModel)]="creator_rate.platform_name">
                    <option value="instagram">Instagram</option>
                    <option value="tiktok">TikTok</option>
                </select>
                <label for="">Service Name</label>
                <input [(ngModel)]="creator_rate.rate_name" type="text">
                <label for="">Price</label>
                <input [(ngModel)]="creator_rate.rate_price" type="number">
            </div>

            <button (click)="addNewRateCart()" class="button rounded expanded">Add New Rate Cart</button>
        </app-modal-sheets>
    </app-modal>



</app-body>