.notif-containers{
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    padding: 10%;
    z-index: 99999999999999;
   
    .notif-content{
        animation: fadeIn 0.4s; 
        position: absolute; 
        width: 250px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        border-radius: 10px;
        background: #333;
        padding: 1.5rem;

    }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
.notification-container{
    animation: fadeIn 0.4s; 
    position: fixed;
    top: 5%;
    right: 5%;
    .notification-content{
      padding: 1rem;
      width: 300px;
      border-radius: 10px;
      background: #333;
      .title{
        
      }
  
    }
  }
  