<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Points</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addPointsModal')"
                                        class="button rounded  clear active">+ Add Points Collection</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


            <div *ngIf="tab_view == 'collection'">
                <div *ngIf="points_collection" class="fade-in">
                    <div *ngIf="points_collection.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-2">
                                    Activity
                                </div>
                                <div class="flex-item flex-2">
                                    Description
                                </div>



                                <div class="flex-item flex-1">
                                    Point
                                </div>

                                <div class="flex-item flex-1">
                                    Status
                                </div>

                                <div class="flex-item flex-1 text-right">
                                    Action
                                </div>





                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of points_collection"
                                class="flex-container cursor table-body-item align-center">


                                <div class="flex-item flex-2">
                                    {{item.name}}
                                </div>
                                <div class="flex-item flex-2">
                                    {{item.description}}
                                </div>



                                <div class="flex-item flex-1">
                                    {{item.value}}
                                </div>

                                <div class="flex-item flex-1">
                                    <app-status-label (onSelect)="updateCommunityPointsCollection($event,item.id)"
                                        [option]="collection_status" [label]="item.status"></app-status-label>

                                </div>

                                <div class="flex-item flex-1 text-right">
                                    <button (click)="sendPoints(item)" class="button clear active tiny">Send
                                        Points</button>
                                </div>







                            </div>

                        </div>

                    </div>

                    <app-placeholder *ngIf="points_collection.length === 0"></app-placeholder>
                </div>


            </div>

            <div *ngIf="tab_view == 'points_activity'">
                <div *ngIf="points">

                    <div *ngIf="points.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    Member
                                </div>
                                <div class="flex-item flex-2">
                                    Description
                                </div>

                                <div class="flex-item flex-1">
                                    Type
                                </div>


                                <div class="flex-item flex-1">
                                    Points
                                </div>

                                <div class="flex-item flex-1">
                                    Create Date
                                </div>








                            </div>
                        </div>
                        <div *ngFor="let item of points" class="table-body ">
                            <div class="flex-container table-body-item align-center">


                                <div class="flex-item flex-1">
                                    {{item.member?.first_name}} {{item.member?.last_name}}
                                </div>


                                <div class="flex-item flex-2">
                                    <div *ngIf="!item.activity_id">
                                        {{item.description}}
                                    </div>
                                    <div *ngIf="item.activity_id">
                                        {{item.points.description}}
                                    </div>
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.type}}
                                </div>


                                <div class="flex-item flex-1">
                                    <span *ngIf="item.type=='credit'">+</span>
                                    <span *ngIf="item.type=='debit'">-</span>
                                    {{item.value}}
                                </div>
                                <div class="flex-item flex-1">
                                    {{item.created_at | date}}
                                </div>


                            </div>

                        </div>
                    </div>
                    <app-placeholder *ngIf="points.length === 0"></app-placeholder>
                </div>

            </div>

            <div *ngIf="tab_view == 'leaderboard'">
                <div>

                    <div>
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    Member
                                </div>
                               
                                <div class="flex-item flex-1">
                                    Points Earn ( Credit )
                                </div>


                                <div class="flex-item flex-1">
                                    Points Redeem ( Debit )
                                </div>

                                <div class="flex-item flex-1">
                                   Available Points
                                </div>








                            </div>
                        </div>

                        <div class="table-body">
                            <div *ngFor="let item of leaderboard" class="flex-container table-body-item">


                                <div class="flex-item flex-1">
                                    {{item.first_name}}  {{item.last_name}}
                                </div>
                               
                                <div class="flex-item flex-1">
                                   {{item.total_credit}}
                                </div>


                                <div class="flex-item flex-1">
                                    {{item.total_debit}}
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.total_points}}
                                </div>








                            </div>
                        </div>
                     
                    </div>
                    <!-- <app-placeholder *ngIf="points.length === 0"></app-placeholder> -->
                </div>

            </div>



        </div>

    </div>


    <app-modal [title]="'Add Points'" *ngIf="showModal == 'addPointModal'" (onClose)="closeModal()">

        <form class="form margin-bottom-1" [formGroup]="addPointsForm">


            <label for="">Member</label>
            <div class="input">
                <app-form-select (onSelect)="selectMember($event)" (onSearch)="searchMember($event)"
                    [option]="member_list" [label]="'Member'"></app-form-select>

            </div>

        </form>
        <app-remove-button (onClick)="addMemberPoints()">
            <button [disabled]="!addPointsForm.valid" class="button expanded">Add Points</button>
        </app-remove-button>

    </app-modal>


    <app-modal title="Add Points Collection" (onClose)="closeModal()" *ngIf="showModal == 'addPointsModal'">

        <form class="form margin-bottom-1" [formGroup]="addCollectionForm">


            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">

            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">

            <label for="">Points</label>
            <input formControlName="value" type="number" name="" id="">







        </form>
        <button [disabled]="!addCollectionForm.valid" (click)="addCommunityPointsCollection()"
            class="button expanded">Add Points Collection</button>

    </app-modal>
</app-body>