.parrent-menu-container {
    position: relative;
    .parrent-item {
        position: relative;
        margin-right: 0.5rem;
        
        a {
            padding: 0.7rem 1.5rem;
            border-radius: 3px;
            background: #42424247 !important;
            color: rgba(255, 255, 255, 0.7) !important;
            font-size: 14px;
            margin-left: 0 !important;
            margin-right: 2px;
            &.small{
                padding: 0.7rem !important;
            }
        }
        .selected_child{
            background:  rgba(119, 119, 119, 0.685) !important;
            margin-right: 2px;
        }
        .removeSelectedChild{
            padding: 0.7rem 0.5rem;
          
        }
        
        
    }
    .label-container{
        position: unset;
        .labels{
            padding: 5px 10px;
            background: #333333;
            color: white;
            position: absolute;
            
            display: none;
            font-size: 10px;
            border-radius: 3px;
            bottom:0;
            text-align: center;
            bottom: 40px;
      
        

        }
        &:hover{
            .labels{
                display: block;
               
              
            }
        }
    }


    .mega-menu-container{
        padding: 2rem 1.5rem;
       position: absolute;
       width:100%;
      
       background: #333333 !important;
       top:40px;
       z-index: 999999;
       border-radius: 3px;
       .child-item{
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        
        a {
            padding: 0.5rem 1rem;
            border-radius: 3px;

            color: rgba(255, 255, 255, 0.7) !important;
            font-size: 14px;
            background:  #272829 !important;
            border:none;
            line-height: 1.7;
          
            margin-left: 0;
          
       
           
            &:hover{
              opacity: 0.8;
            }
            &.active{
                background: rgba(119, 119, 119, 0.685) !important;
            }
        }
        .active{
            background:  rgba(119, 119, 119, 0.685) !important;
        }
       }
    }

}


.child-menu-container {
    position: absolute;
    background: #333333 !important;
    left: 0;
    width: 200px;
    z-index: 999999;
    padding: 1rem;
    border-radius: 3px;

    top:40px;
    .child-item {
        margin-bottom: 0.5rem;
        &:last-child{
            margin-bottom: 0 !important;
        }
       
       
        a {
            padding: 0.7rem 1.5rem;
            border-radius: 3px;

            color: rgba(255, 255, 255, 0.7) !important;
            font-size: 14px;
            background:  #272829 !important;
          
           
            &:hover{
                background: rgba(119, 119, 119, 0.685) !important;
            }
        }
        .active{
            background:  rgba(119, 119, 119, 0.685) !important;
        }
     
        
    }

}

.search-container{
    position: relative;
    margin-right: 1rem;
    .search-icon{
        position: absolute;
        left: 0;
        line-height: 37px;
        height: 37px;
        padding-left: 0.5rem;
    }
    .search-bar{
        margin-right: 2px;
        input{
            line-height: 36px !important;
            height: 37px !important;
            padding-left: 1.9rem !important;
        }
    }
    .clear-search{
       
        border-radius: 3px;
        background:  rgba(119, 119, 119, 0.685) !important;
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 14px;
        padding: 0.7rem 0.5rem;
       border: none;
       line-height: 0 !important;
       margin-bottom: 0 !important;
    }
    
}