<div class="table-action margin-bottom-1">
    <div class="row collapse">
        <div class="medium-3 columns">
            <div class="search-container">
                <div class="flex-container">
                    <div class="flex-item flex-1">
                        <div class="search-icon color-grey">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </div>
                        <div class="search-bar">
                            <input [(ngModel)]="searchKey" (keyup)="search()" type="text">
                        </div>
                    </div>
                    <div *ngIf="searchKey" class="flex-item">
                        <button (click)=" clearSearch()" class="clear-search">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </button>

                    </div>

                    
                </div>


            </div>


        </div>
        <div class="medium-6 columns">
            <!-- <div  class="parrent-menu-container margin-right-1">
                <ul class="short-list-menu menu">
                    <li class="parrent-item">
                        <div class="flex-container">
                            <div class="flex-item">
                                <input placeholder="ds"  type="date">
                            </div>

                           
                        </div>




                       

                    </li>

                </ul>
            </div> -->
            <div *ngIf="sortListItems" class="parrent-menu-container margin-right-1">
                <ul class="short-list-menu menu">
                    <li *ngFor="let item of sortListItems" class="parrent-item">
                        <div class="flex-container">
                            <div class="flex-item">
                                <a [ngClass]="{selected_child: item.selected_child}" (click)="openMenu(item.id)"
                                    tabindex="1" (blur)="closeMenu()">
                                    <span *ngIf="item.selected_child"> {{item.selected_child}}</span>
                                    <span *ngIf="!item.selected_child">
                                        <fa-icon [icon]="faFilter"></fa-icon> {{item.name}}
                                    </span>


                                </a>
                            </div>

                            <div *ngIf="!item.selected_child" class="flex-item">
                                <a (click)="openMenu(item.id)" tabindex="1" (blur)="closeMenu()"
                                    class="removeSelectedChild">
                                    <fa-icon [icon]="faChevronDown"></fa-icon>

                                </a>
                            </div>

                            <div *ngIf="item.selected_child" class="flex-item">
                                <a [ngClass]="{selected_child: item.selected_child}" class="removeSelectedChild"
                                    (click)="removeSelectedChild(item)">
                                    <fa-icon [icon]="faTimes"></fa-icon>

                                </a>
                            </div>
                        </div>




                        <div *ngIf="menu_id == item.id" class="child-menu-container fade-in">
                            <ul *ngIf="item.items" class="menu vertical">

                                <li *ngFor="let child_item of item.items" class="child-item">
                                    <a class="elevate" (click)="selectChild(item,child_item)">
                                        {{child_item.name}}
                                    </a>

                                </li>
                            </ul>
                        </div>

                    </li>

                </ul>
            </div>

            <div *ngIf="sortListItems" class="parrent-menu-container margin-right-1">
                <ul class="mega-menu menu">
                    <li class="parrent-item">
                        <div class="flex-container">
                            <div class="flex-item">
                                <a (click)="toggleMegamenu()">

                                    <span>
                                        <fa-icon [icon]="faFilter"></fa-icon> Filter
                                    </span>


                                </a>
                            </div>

                            <div class="flex-item">
                                <a *ngIf="!megaMenu" (click)="toggleMegamenu()" class="removeSelectedChild">
                                    <fa-icon [icon]="faChevronDown"></fa-icon>

                                </a>
                                <a *ngIf="megaMenu" (click)="toggleMegamenu()" class="removeSelectedChild">
                                    <fa-icon [icon]="faChevronUp"></fa-icon>

                                </a>

                            </div>

                            <div class="flex-item">
                                <a class="removeSelectedChild">
                                    <fa-icon [icon]="faTimes"></fa-icon> Clear Filter

                                </a>
                            </div>
                        </div>






                    </li>

                    <li class="parrent-item">
                        <div class="flex-container">
                            <div class="flex-item">
                                <a>

                                    <span>
                                        <fa-icon [icon]="faSearch"></fa-icon> Advance Search
                                    </span>


                                </a>
                            </div>

                           
                        </div>






                    </li>
                </ul>

                <div *ngIf="megaMenu" class="mega-menu-container fade-in">
                   
                    <div class="row collapse medium-up-3">
                        <div *ngFor="let item of sortListItems"  class="columns margin-bottom-1">
                        
                            <div class="child-menu-containers">
                                <ul *ngIf="item.items" class="menu vertical">
                                    <h5 class="margin-bottom-05">    <fa-icon [icon]="faFilter"></fa-icon>  {{item.name}}</h5>
                                    <li *ngFor="let child_item of item.items" class="child-item">
                                        <a [ngClass]="{active: child_item.click}" class="elevate" (click)="selectMegaMenuChild(item,child_item)">
                                            <fa-icon *ngIf="!child_item.click" [icon]="faCircle" class="margin-right-05 elevate"></fa-icon>  
                                            <fa-icon *ngIf="child_item.click" [icon]="faCheckCircle" class="margin-right-05 elevate"></fa-icon> 
                                            {{child_item.name}}
                                        </a>
    
                                    </li>
                                </ul>
                            </div>
                           
                        </div>
    
                      
                   
    
                    </div>
                </div>

            </div>
          
        </div>
        <div class="medium-3 columns">
            <div class="parrent-menu-container">
                <ul class="short-list-menu menu menu-align-right" style="position: relative">

                    <li class="parrent-item">
                        <!-- <a>
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Advanced Filter
                        </a> -->


                    </li>
                    <li class="parrent-item label-container">
                        <a class="small" >
                            <fa-icon [icon]="faFileExport"></fa-icon>
                        </a>
                        <div class="labels fade-in">
                            Export </div>


                    </li>
                    <li class="parrent-item label-container">
                        <a class="small">
                            <fa-icon [icon]="faList"></fa-icon>
                        </a>
                        <div class="labels fade-in">
                            List View
                        </div>


                    </li>
                    <li class="parrent-item label-container">
                        <a class="small">
                            <fa-icon [icon]="faSquare"></fa-icon>
                        </a>
                        <div class="labels fade-in">
                            Grid View
                        </div>



                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>