<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Client</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item  text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addClientModal')" class="button rounded  clear active ">+
                                        Add Client</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>




            <app-table-action></app-table-action>



            <div class="fade-in" *ngIf="client">
                <div *ngIf="client.length !==0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">
    
    
                            <div class="flex-item flex-1">
                                Company
                            </div>
    
    
    
    
                            <div class="flex-item flex-1">
                                Location
                            </div>
    
                            <div class="flex-item flex-1">
                                Campaign
                            </div>
    
                            <div class="flex-item flex-1">
                                On Board
                            </div>
    
                            <div class="flex-item flex-1">
                                Total Aquisition Won
                            </div>
    
    
    
                            <div class="flex-item flex-1 text-right">
                                Action
                            </div>
    
                        </div>
                    </div>
                    <div class="table-body">
                        <div *ngFor="let item of client">
                            <div class="flex-container table-body-item align-center">
    
    
    
                                <div class="flex-item flex-1">
    
    
                                    {{item.client_name}}
    
                                </div>
    
    
    
    
    
                                <div class="flex-item flex-1">
    
    
                                    <app-form-input [isHideAction]="true" [id]="'location'" [value]="item.location"
                                        (onClose)="updateClient($event,item.id)"></app-form-input>
    
    
                                </div>
    
    
    
    
                                <div class="flex-item flex-1">
                                    {{ item.total_project?item.total_project:'0'}} Campaign
                                </div>
                                <div class="flex-item flex-1">
                                    {{item.total_onboard}} Brand
                                </div>
    
                                <div class="flex-item flex-1">
                                    {{item.total_aquisition | currency :'IDR'}}
                                </div>
    
    
                                <div class="flex-item flex-1 text-right color-grey">
    
                                    <a class="color-grey" (click)="toggleChild(item)"> Show {{item.child?.length}} Brand
                                        <fa-icon *ngIf="!item.isShow" [icon]="faChevronDown"></fa-icon>
                                        <fa-icon *ngIf="item.isShow" [icon]="faChevronUp"></fa-icon>
                                    </a>
    
    
                                </div>
    
                            </div>
                            <div class="fade-in margin-bottom-1" *ngIf="item.isShow">
                                <div *ngFor="let child_item of item.child"
                                    class="flex-container table-body-item border align-center">
    
    
    
                                    <div class="flex-item flex-1">
                                        <div class="tiny-text color-grey"> {{item.client_name}}</div>
                                        <div class="large-text"> {{child_item.client_name}}</div>
                                    </div>
    
    
    
    
                                    <div class="flex-item flex-1">
                                        <!-- {{child_item.location}} -->
    
                                        <app-form-input [isHideAction]="true" [id]="'location'"
                                            [value]="child_item.location" (onClose)="updateClient($event,child_item.id)">
                                        </app-form-input>
    
                                    </div>
    
    
    
    
    
                                    <div class="flex-item flex-1">
                                        {{child_item.campaign_count}} Campaign
                                    </div>
    
                                    <div class="flex-item flex-1">
                                        <app-status-label [label]="child_item.on_board_status?'onboard':'pending'"
                                            (onSelect)="updateClient($event,child_item.id)" [option]="onboard_option">
    
                                        </app-status-label>
                                    </div>
                                    <div class="flex-item flex-1">
                                        {{child_item.total_aquisition | currency :'IDR'}}
                                    </div>
                                    <div class="flex-item flex-1 text-right">
    
    
                                        <button (click)="viewContact(child_item)"
                                            class="button tiny clear active hollow margin-right-02">
                                            <fa-icon [icon]="faAddressBook"></fa-icon> {{child_item.contact.length}}
                                            Contacts
                                        </button>
                                        <button (click)="plusContact(child_item)" class="button tiny clear active hollow">
                                            <fa-icon [icon]="faAddressBook"></fa-icon> +
                                        </button>
    
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
    
                    </div>
                </div>
                
                <app-placeholder *ngIf="client.length === 0"></app-placeholder>

            </div>







        </div>

    </div>

    <app-modal (onClose)="closeModal()" *ngIf="showModal == 'addClientModal'" [title]="'Add Client'">
        <form class="form" [formGroup]="clientForm">
            <label for="">Client Type</label>
            <select (change)="setValid()" formControlName="client_type">

                <option value="company">Company</option>
                <option value="brand">Brand</option>
            </select>

            <div *ngIf="clientForm.get('client_type').value == 'brand'">
                <label for="">Company</label>
                <div class="input">
                    <app-form-select (onSelect)="selectClient($event)" (onSearch)="searchClient($event)"
                        [option]="client_list" [label]="'Company'"></app-form-select>

                </div>
            </div>



            <label for="">{{clientForm.get('client_type').value | titlecase}} Name</label>
            <input formControlName="client_name" type="text" name="" id="">



            <label for="">Location</label>
            <input formControlName="location" type="text" name="" id="">


            <button [disabled]="!clientForm.valid" (click)="addClient()" class="button rounded expanded">Add
                {{clientForm.get('client_type').value}}</button>



        </form>




    </app-modal>
    <app-modal (onClose)="closeModal()" *ngIf="showModal =='addContactModal'" [title]="'Add Contact'">

        <div *ngIf="selected_brand">
            <h5>Brand : {{selected_brand.client_name}}</h5>
            <form class="form margin-bottom-1" [formGroup]="contactForm">


                <div class="flex-container">
                    <div class="flex-item flex-1 margin-right-05">
                        <label for="">Name</label>
                        <input formControlName="name" type="text" name="" id="">

                    </div>
                    <div class="flex-item flex-1">
                        <label for="">Position</label>
                        <input formControlName="position" type="text" name="" id="">


                    </div>
                </div>


                <div class="flex-container">
                    <div class="flex-item flex-1 margin-right-05">
                        <label for="">Mobile</label>
                        <input formControlName="mobile" type="number" name="" id="">

                    </div>
                    <div class="flex-item flex-1">
                        <label for="">Work</label>
                        <input formControlName="work" type="number" name="" id="">


                    </div>
                </div>


            </form>
            <button (click)="addContact()" class="button expanded">Add Contact</button>
        </div>
    </app-modal>

    <app-modal (onClose)="closeModal()" [title]="'Contact ' + selected_brand.client_name "
        *ngIf="showModal == 'viewContactModal' ">
        <div class="">

            <button (click)="openModal('addContactModal')" class="button small clear active hollow">
                + Add Contact
            </button>
            <div class="list-tile-container">
                <div *ngFor="let item of selected_brand.contact"
                    class="callout padding-center-1 rounded medium-grey-bg margin-bottom-05">
                    <div class="large-text margin-bottom-05">
                        <fa-icon [icon]="faAddressBook"></fa-icon> {{item.name | titlecase}} <span
                            class="span-label mega"> {{item.position}}</span>
                    </div>

                    <div class="flex-container align-center margin-bottom-05">
                        <div class="flex-item flex-1 margin-right-05">
                            <app-form-input [isHideAction]="true" [label]="'Mobile'" [id]="'mobile'"
                                [value]="item.mobile" (onClose)="updateContact(item.id,$event)"></app-form-input>


                        </div>
                        <div class="flex-item flex-1 margin-right-05">





                            <app-form-input [isHideAction]="true" [label]="'Work'" [id]="'work'" [value]="item.work"
                                (onClose)="updateContact(item.id,$event)"></app-form-input>

                        </div>

                    </div>
                    <app-form-input [isHideAction]="true" [label]="'Email'" [id]="'email'" [value]="item.email"
                        (onClose)="updateContact(item.id,$event)"></app-form-input>

                </div>
            </div>
        </div>
    </app-modal>

</app-body>