<app-body>



    <div *ngIf="user_account" class="page-container">
        <div class="row">
            <div class="medium-7 columns">
                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">


                    <div class="flex-container align-center">
                        <div class="flex-item flex flex-1 margin-right-1">
                            <img style="width: 130px;height: 130px;" *ngIf="user_account.profile_photo_url"
                                class="avatar-image" src="https://placehold.co/200x200" alt="">

                            <div style="width: 130px;height: 130px;" *ngIf="!user_account.profile_photo_url"
                                class="avatar-placeholder">
                                {{ getPlaceholderName(user_account)}}
                            </div>

                        </div>
                        <div class="flex-item flex-3">
                            <h2>{{user_account.first_name}} {{user_account.last_name}}</h2>


                            <div class="row medium-up-2">
                                <div class="columns">
                                    <div class="tiny-text color-grey">Role</div>
                                    <div class="huge-text">{{user_account.role.role_name}}</div>
                                </div>
                                <div class="columns">
                                    <div class="tiny-text color-grey">Group</div>
                                    <div class="huge-text">{{user_account.group?.group_name}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="flex-item flex-05 text-center">
                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0"></h1>
                                <div class="large-text color-grey">300K Follower</div>
                            </div>
                        </div> -->

                    </div>
                </div>
                <!-- TABLE SAMPLE -->

                <div class="callout hide padding-center rounded medium-grey-bg elevate form margin-bottom-1 table"
                    style="min-height: 35vh;">

                    <div class="title-container">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">
                                <!-- <h3>Rate Card</h3> -->

                            </div>
                            <div class="flex-item flex-1">
                                <!-- <div class="flex-item flex-1 text-right">
                                <ul class="menu menu-align-right">

                                    <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                                

                                </ul>
                                </div> -->

                            </div>

                        </div>
                    </div>


                    <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


                    <div class="">
                        <div class="table-header">
                            <div class="flex-container table-header-item">



                                <div class="flex-item flex-2">
                                    Activity
                                </div>
                                <div class="flex-item flex-1">
                                    Activity Date
                                </div>


                                <div class="flex-item flex-1">
                                    Type
                                </div>

                                <div class="flex-item flex-1">
                                    Value
                                </div>

                                <div class="flex-item flex-1">
                                    Create By
                                </div>

                            </div>
                        </div>
                        <div class="table-body ">
                            <div class="flex-container cursor table-body-item align-center">




                                <div class="flex-item flex-2">
                                    Activity
                                </div>
                                <div class="flex-item flex-1">
                                    Create Date
                                </div>


                                <div class="flex-item flex-1">
                                    Collect
                                </div>

                                <div class="flex-item flex-1">
                                    + 100 Points
                                </div>

                                <div class="flex-item flex-1">
                                    Create By
                                </div>



                            </div>

                        </div>

                    </div>














                </div>

                <div class="row margin-bottom-1">
                    <div class="medium-6 columns">
                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Group Member</h3>
                            <div *ngFor="let item of group" class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container align-center">
                                    <div class="flex-item margin-right-05">
                                        <img *ngIf="item.profile_photo_url" class="avatar-image"
                                            src="https://placehold.co/200x200" alt="">

                                        <div *ngIf="!item.profile_photo_url" class="avatar-placeholder">
                                            {{ getPlaceholderName(item)}}
                                        </div>
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                            {{item.first_name}} {{item.last_name}}
                                        </div>
                                    </div>
                                    <div class="flex-item">
                                        <button (click)="openModal('taskModal')" class="button tiny clear hollow">
                                            + Task
                                        </button>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Account Activity</h3>
                            <div *ngFor="let item of activity" class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container align-center">

                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                            {{item.title}}
                                        </div>
                                        <div class="large-text color-grey">
                                            {{item.description}}
                                        </div>
                                    </div>
                                    <div class="flex-item ">
                                        <div class="tiny-text color-grey">
                                            {{item.created_at | date}}
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
            <div class="medium-5 columns">
                <div class="callout padding-center medium-grey-bg rounded" style="min-height: 60vh;">
                    <h3 class="margin-bottom-1">Task</h3>
                    <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>
                    <div *ngIf="task" class="fade-in">
                        <div (click)="selectTask(item)" *ngFor="let item of task">

                            <div
                                        class="callout padding-center-1 rounded medium-grey-bg margin-bottom-05 task-container cursor">
                                        <div class="flex-container align-center margin-bottom-1">
    
                                            <div class="flex-item flex-1">
                                                <div class="large-text">
                                                    {{item.title}}
                                                </div>
    
                                                <div class="large-text color-grey">
                                                    {{item.description}}
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="flex-container small-text align-center color-grey" style="margin-left: 10px;">
    
                                            <div *ngFor="let item of item.member" class="flex-item">
                                                <div *ngIf="!item.account.profile_photo_url"
                                                    class="placeholder-container">
                                                    <div style="margin-left: -10px;border:  1px solid #ccc !important;"
                                                        class="avatar-placeholder">
                                                        {{getPlaceholderName(item.account)}}
                                                    </div>
    
                                                </div>
                                                <img style="border:  1px solid #ccc !important;"
                                                    *ngIf="item.account.profile_photo_url" class="avatar-image"
                                                    [src]="item.account.profile_photo_url" alt="">
                                            </div>
    
    
                                            <div class="flex-item flex-1 text-right">
                                                <fa-icon [icon]="faCommentAlt" class="margin-right-02"></fa-icon>
                                                {{item.total_discussion}}
                                                <fa-icon [icon]="faPaperclip" class="margin-right-02"></fa-icon> 1
                                                <fa-icon [icon]="faClock" class="margin-right-02"></fa-icon> {{item.due_date | date}}
    
                                            </div>
    
    
                                        </div>
                                        <div class="more-info">
                                            <div class="flex-container align-center ">
    
    
                                                <div *ngIf="item.labels" class="flex-item margin-right-05">
                                                    <div class="span-label sucess">
                                                        {{item.labels}}
                                                    </div>
                                                </div>
    
                                                <div class="flex-item tiny-text color-grey">
                                                    {{item.created_at | date}}
                                                </div>
                                            </div>
    
                                        </div>
    
                                    </div>
                        </div>
                        <app-placeholder *ngIf="task.length === 0"></app-placeholder>
    
                    </div>

                  

                   
                </div>
            </div>
        </div>



    </div>

    <app-modal-full *ngIf="showModal == 'taskDetailModal'" (onClose)="closeModal()">
        <div *ngIf="selected_task" class="callout padding-center medium-grey-bg rounded">
            <div class="row">
                <div class="medium-6 columns">
                    <div class="task-detail-container form">
                        <div class="">


                            <h3>{{selected_task.title}}</h3>
                            <div class="large-text">
                                {{selected_task.description}}
                            </div>
                            <!-- <label>{{selected_task.description}}</label>

                            <input placeholder="Write a description" type="text" name="" id="" (blur)="hideButton()"
                                (focus)="showButton('saveDescription')">
                            <button *ngIf="show_button == 'saveDescription'" class="button small">
                                Save
                            </button> -->



                        </div>

                        <div class="flex-container margin-bottom-05">
                            <div class="flex-item flex-1 margin-right-05">

                                <button class="button tiny clear active hollow expanded">
                                    + Attachment <fa-icon [icon]="faPaperclip"></fa-icon>
                                </button>
                            </div>
                            <div class="flex-item flex-1 margin-right-05">

                                <button class="button tiny clear active hollow expanded">
                                    + Due Date <fa-icon [icon]="faClock"></fa-icon>
                                </button>
                            </div>
                            <div class="flex-item flex-1 margin-right">

                                <button class="button tiny clear active hollow expanded">
                                    + Label
                                </button>
                            </div>
                        </div>








                        <div class="callout border-bottom">
                            <label>Assign to :</label>

                         
                            <div class="flex-container">
                               
                                <div *ngFor="let item of selected_task.member" class="flex-item-05  margin-right-05">
                                    <div *ngIf="!item.account.profile_photo_url" class="avatar-placeholder">
                                        {{getPlaceholderName(item.account)}}
                                    </div>
                                </div>
    
                                <div class="flex-item">
                                    <div (click)="openModal('managerModal')" class="add-person cursor">
                                        <div class="icon">
                                            <fa-icon [icon]="faUserPlus"></fa-icon>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="medium-6 columns">
                    <div class="flex-container align-center padding-bottom-1 border-bottom form">
                        <div class="flex-item flex-1 margin-right-05">
                            <input class="margin-bottom-0" placeholder="Write a comment" type="text" name="" id=""
                                [(ngModel)]="task_message">

                        </div>
                        <div class="flex-item flex">

                            <button (click)="addTaskDiscussion()" class="button small clear margin-bottom-0">
                                Send
                            </button>
                        </div>
                    </div>

                    <div class="callout border-bottom form" style="height: 60vh;
                    overflow: auto;">


                        <div *ngFor="let item of selected_task_discussion"
                            class="flex-container align-center margin-bottom-1">
                            <div class="flex-item">
                                <div class="flex-item margin-right-05">
                                    <img *ngIf="item.sender.profile_photo_url" class="avatar-image"
                                        src="https://placehold.co/200x200" alt="">

                                    <div *ngIf="!item.sender.profile_photo_url" class="avatar-placeholder">
                                        {{ getPlaceholderName(item.sender)}}
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item flex-1">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                            {{item.sender.first_name}} {{item.sender.last_name}}
                                        </div>
                                    </div>
                                    <div class="flex-item">
                                        <div class="tiny-text color-grey">
                                            {{item.created_at | date : 'medium'}}
                                        </div>
                                    </div>
                                </div>

                                <div class="small-text">
                                    {{item.message}}
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </app-modal-full>


    <app-modal *ngIf="showModal == 'taskModal' " (onClose)="closeModal()">
        <app-task (onClose)="afterSubmitTask()"></app-task>
    </app-modal>

</app-body>