<app-body [hideNav]="true">
    <div *ngIf="member" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/community/member/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Member
                    </a>
                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">
                        <div class="flex-item  margin-right-2">
                            <img style="width: 130px;height: 130px;" class="avatar-image"
                                src="https://placehold.co/200x200" alt="">

                            <!-- <div style="width: 130px;height: 130px;" *ngIf="!creator.profile_photo_url"
                                class="avatar-placeholder">
                                {{ getPlaceholderName(creator)}}
                            </div> -->

                        </div>
                        <div class="flex-item flex-2">
                            <div> <span class="span-label Macro">{{member.community?.name}}</span></div>
                            <h1>{{member.first_name}} {{member.last_name}} </h1>


                            <div class="row medium-up-4">
                                <div class="columns">

                                    <app-form-input [isHideAction]="true" class="huge-text" [label]="'Instagram'"
                                        [value]="member.instagram_account" [id]="'instagram_account'"
                                        (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>
                                <div class="columns">

                                    <app-form-input [isHideAction]="true" [type]="'number'" class="huge-text"
                                        [label]="'Follower'" [value]="member.instagram_follower"
                                        [id]="'instagram_follower'" (onClose)="updateCommunityMember($event)">
                                    </app-form-input>
                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Points</div>
                                    <div class="huge-text">{{member.total_points}}</div>
                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>

                                    <app-status-label [label]="member.status" [option]="member_status"
                                        (onSelect)="updateCommunityMember($event)"></app-status-label>


                                </div>

                            </div>

                        </div>

                        <!-- <div class="flex-item text-center">
                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">00</h1>
                                <div class="large-text color-grey">300K Follower</div>
                            </div>
                        </div> -->

                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Personal Information</h3>
                            <div class="list-tile-container">
                                <div class="list-tile-item">
                                    <app-form-input [label]="'Custom ID'" [value]="member.custom_member_id"
                                        [id]="'custom_member_id'" (onClose)="updateCommunityMember($event)">
                                    </app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'date'" [label]="'Birthday'" [value]="member.dob"
                                        [id]="'dob'" (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'Phone'" [value]="member.phone"
                                        [id]="'phone'" (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [label]="'Email'" [value]="member.email" [id]="'email'"
                                        (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>


                            </div>



                        </div>

                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Legal Document</h3>
                            <div class="list-tile-container">
                                <div class="list-tile-item">
                                    <app-form-input [label]="'Bank'" [value]="member.bank_account" [id]="'bank_account'"
                                        (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'NPWP'" [value]="member.npwp"
                                        [id]="'npwp'" (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'KTP'" [value]="member.ktp" [id]="'ktp'"
                                        (onClose)="updateCommunityMember($event)"></app-form-input>
                                </div>


                            </div>

                        </div>


                    </div>
                    <div class="medium-4 columns">

                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 70vh;">
                          
                            <div class="flex-container align-center margin-bottom-1">
                                <div class="flex-item flex-1">
                                    <h3 class="margin-bottom-0">Points</h3>



                                </div>
                                <div class="flex-item text-right">
                                    <button (click)="openModal('addPointsModal')"
                                        class="button small clear margin-bottom-0 active">+
                                        Add</button>
                                </div>
                            </div>
                            <div class="list-tile-container">
                                <div *ngFor="let item of member.points" class="list-tile-item flex-container">
                                    <div class="flex-item flex-1">
                                      
                                        <div *ngIf="!item.activity_id">
                                            {{item.description}}
                                         </div>
                                         <div *ngIf="item.activity_id">
                                            {{item.points.description}}
                                         </div>
                                        <div class="tiny-text color-grey">
                                            {{item.created_at | date}}
                                        </div>
                                    </div>
                                    <div class="flex-item text-right">
                                        <span *ngIf="item.type == 'credit'">+</span> 
                                        <span *ngIf="item.type == 'debit'">-</span> 
                                        {{item.value}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="medium-4 columns">

                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 70vh;">
                            <div class="flex-container align-center margin-bottom-1">
                                <div class="flex-item flex-1">
                                    <h3 class="margin-bottom-0">Reward</h3>



                                </div>
                                <div class="flex-item text-right">
                                    <button (click)="openModal('addRewardModal')"
                                        class="button small clear margin-bottom-0 active">+
                                        Add</button>
                                </div>
                            </div>


                            <div class="list-tile-container">
                                <div *ngFor="let item of member.reward" class="list-tile-item flex-container align-center">
                                    <div class="flex-item flex-1">
                                       <div *ngIf="!item.community_reward_id"> {{item.name}} </div>
                                       <div *ngIf="item.community_reward_id"> {{item.reward.name}} </div>
                                        
                                        <div class="tiny-text color-grey">
                                         

                                            <div *ngIf="!item.community_reward_id"> {{item.description}} </div>
                                            <div *ngIf="item.community_reward_id"> {{item.reward.description}} </div>
                                          
                                        </div>
                                    </div>
                                    <div class="flex-item text-right">
                                       
                                       <app-status-label [label]="item.status"></app-status-label>
                                     
                                    </div>
                                </div>
                            </div>



                        </div>





                    </div>
                </div>
            </div>
        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <h3 class="margin-bottom-1">Campaign</h3>

                        <div *ngFor="let item of member.campaign    " class="list-tile-container">
                            <div class="list-tile item flex-container border-bottom">
                                <div class="flex-item flex-1">
                                    {{item.campaign.campaign_name}}
                                   <div class="color-grey">
                                    {{item.campaign.start_date | date}}
                                   </div>
                                </div>
                                <div class="flex-item flex-1 text-right">
                                    <app-status-label [label]="item.status"></app-status-label>
                                 
                                </div>
                            </div>
                        </div>
                </div>

              
            </div>
        </div>
    </div>


    <app-modal title="Add Points" (onClose)="closeModal()" *ngIf="showModal == 'addPointsModal'">

        <form class="form margin-bottom-1" [formGroup]="pointsForm">


            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">

            <label for="">Value</label>
            <input formControlName="value" type="number" name="" id="">






        </form>

        <app-remove-button  (onClick)="addMemberPoints()" >
            <button [disabled]="!pointsForm.valid" class="button expanded">Add Points</button>
   
        </app-remove-button>
        
    </app-modal>

    <app-modal title="Add Reward" (onClose)="closeModal()" *ngIf="showModal == 'addRewardModal'">

        <form class="form margin-bottom-1" [formGroup]="rewardForm">


            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">

            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">


            <label for="">Value ( reward value in IDR )</label>
            <input formControlName="value" type="number" name="" id="">






        </form>

        <app-remove-button  (onClick)="addCustomMemberReward()" >
            <button [disabled]="!rewardForm.valid" class="button expanded">Add Reward</button>
   
        </app-remove-button>
        
    </app-modal>

</app-body>