<div class="table-header">
    <div class="flex-container table-header-item">

     
        <div class="flex-item flex-1">
            Role
        </div>

        <div class="flex-item flex-2">
            Description
        </div>

        <div class="flex-item flex-1">
            Create Account
        </div>

        <div class="flex-item flex-05">
            Add
        </div>
        <div class="flex-item flex-05">
            Edit
        </div>
        <div class="flex-item flex-05">
            View
        </div>


    </div>
</div>

<div class="table-body">
    <div *ngFor="let item of user_role" class="flex-container table-body-item">

     
        <div class="flex-item flex-1">
            {{item.role_name}}
        </div>

        <div class="flex-item flex-2">
            {{item.description}}
        </div>

        <div class="flex-item flex-1">
          
            <fa-icon *ngIf="!item.can_create_account" [icon]="faTimes"></fa-icon>
            <fa-icon *ngIf="item.can_create_account"[icon]="faCheck"></fa-icon>
        </div>

        <div class="flex-item flex-05">
           
            <fa-icon *ngIf="!item.add" [icon]="faTimes"></fa-icon>
            <fa-icon *ngIf="item.add"[icon]="faCheck"></fa-icon>
        </div>
        <div class="flex-item flex-05">
       
            <fa-icon *ngIf="!item.edit" [icon]="faTimes"></fa-icon>
            <fa-icon *ngIf="item.edit"[icon]="faCheck"></fa-icon>
        </div>
        <div class="flex-item flex-05">
         
            <fa-icon *ngIf="!item.view" [icon]="faTimes"></fa-icon>
            <fa-icon *ngIf="item.view"[icon]="faCheck"></fa-icon>
        </div>


    </div>
</div>

