<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Inventory</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addInventoryModal')" class="button rounded  clear active ">+
                                        Add Inventory</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>
            <app-table-action></app-table-action>

            <div *ngIf="tab_view == 'product'">

                <div class="fade-in" *ngIf="product">
                    <div *ngIf="product.length !== 0">

                        <div class="table-header">
                            <div class="flex-container table-header-item">
    
    
    
    
                                <div class="flex-item flex-1">
                                    Name
                                </div>
    
                              
    
                                <div class="flex-item flex-1">
                                    Category
                                </div>
    
    
    
    
    
    
    
                                <div class="flex-item flex-1">
                                    Last Stock In
                                </div>
    
                                <div class="flex-item flex-1">
                                    Last Stock Out
                                </div>
    
                                <div class="flex-item flex-1">
                                    Available Stock
                                </div>
    
    
                                <div class="flex-item flex-1">
    
                                </div>
                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of product">
                                <div [ngClass]="{'long-fade-in': item.isNew}"
                                    class="flex-container table-body-item align-center">
    
    
    
                                    <div class="flex-item flex-1">
                                      
                                        <app-form-input [isHideLabel]="true" [isHideAction]="true"
                                        [label]="'Name'" [id]="'name'" [value]="item.name"
                                        (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>

                                        <app-form-input class="color-grey" [isHideLabel]="true" [isHideAction]="true"
                                        [label]="'Brand'" [id]="'brand'" [value]="item.brand"
                                        (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>
    
                                    </div>
    
                                  
                                    <div class="flex-item flex-1">
                                        <app-form-input [isHideLabel]="true" [isHideAction]="true"
                                        [label]="'Name'" [id]="'category'" [value]="item.category"
                                        (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>
                                    </div>
    
    
                                    <div class="flex-item flex-1">
                                        {{item.last_stock_in? (item.last_stock_in | date) : 0}}
                                    </div>
    
                                    <div class="flex-item flex-1">
                                        {{item.last_stock_out? (item.last_stock_out | date) : 0}}
                                    </div>
    
                                    <div (click)="toggleShow(item)" class="flex-item flex-1 cursor">
                                        <button class="button tiny clear active margin-right-05">
                                          {{item.total_stock}} Items(s)
                                        </button>
    
    
                                    </div>
    
    
                                    <div (click)="toggleShow(item)" class="flex-item flex-1 cursor text-right">
    
                                        <fa-icon [icon]="faChevronDown"></fa-icon>
                                    </div>
    
                                </div>
                                <div *ngIf="item.isShow" class="margin-bottom-1 fade-in">
    
                                    <div class="callout padding-center border">
                                        <div class="flex-container margin-bottom-05">
                                            <div class="flex-item flex-1">
                                                <h3>Stock</h3>
                                            </div>
                                            <div class="flex-item text-right">
                                                <button (click)="receiveStock(item)" class="button tiny white">+ Receive
                                                    Stock</button>
                                            </div>
                                        </div>
                                        <div *ngIf="item.stock?.length>0">
                                            <div class="table-header">
                                                <div class="flex-container table-header-item">
    
    
    
    
                                                    <div class="flex-item flex-1">
                                                        Batch ID
                                                    </div>
                                                 
    
                                                    <div class="flex-item flex-1">
                                                        Warehouse
                                                    </div>
    
    
                                                    <div class="flex-item flex-1">
                                                        Receive Date
                                                    </div>
                                                    <div class="flex-item flex-1">
                                                        Expired Date
                                                    </div>
    
    
    
    
                                                    <div class="flex-item flex-1">
                                                        Stock In
                                                    </div>
    
                                                    <div class="flex-item flex-1">
                                                        Stock Out
                                                    </div>
    
                                                    <div class="flex-item flex-1">
                                                        Available Stock
                                                    </div>
    
    
    
    
    
    
                                                </div>
                                            </div>
                                            <div class="table-body ">
                                                <div [ngClass]="{'long-fade-in': item.isNew}"
                                                    *ngFor="let item of item.stock"
                                                    class="flex-container border table-body-item align-center">
    
    
    
    
                                                    <div class="flex-item flex-1">
                                                        #{{item.id}}
                                                        <div class="color-grey">
                                                  {{item.sender}}
                                                </div>
                                                    </div>
    
                                                    <div class="flex-item flex-1">
    
    
                                                        <app-form-input [isHideLabel]="true" [isHideAction]="true"
                                                            [label]="'Location'" [id]="'location'" [value]="item.location"
                                                            (onClose)="updateInventoryStock($event,item)">
                                                        </app-form-input>
                                                    </div>
    
    
    
    
    
                                                    <div class="flex-item flex-1">
                                                        {{item.created_at | date}}
                                                        <div>
                                                            <span class="span-label Macro">
                                                                {{_getAge(item.created_at)}}
    
                                                            </span>
                                                        </div>
    
                                                    </div>
    
                                                    <div class="flex-item flex-1">
                                                        {{item.expired_date | date}}
                                                        <div>
                                                            <span class="span-label Macro">
                                                                {{_getExpired(item.expired_date)}}
                                                            </span>
                                                        </div>
                                                    </div>
    
    
                                                    <div class="flex-item flex-1">
                                                        <span *ngIf="item.stock_out > 0">{{item.stock_in}}</span>
                                                        <app-form-input *ngIf="item.stock_out == 0" [type]="'number'"
                                                            [isHideLabel]="true" [isHideAction]="true" [label]="'Stock In'"
                                                            [id]="'stock_in'" [value]="item.stock_in"
                                                            (onClose)="updateInventoryStock($event,item)">
                                                        </app-form-input>
                                                        <div *ngIf="item.variant" class="tiny-text color-grey">Variant :{{item.variant}}</div>
                                                    </div>
    
                                                    <div class="flex-item flex-1">
    
    
                                                        <div class="flex-container align-center">
                                                            {{item.stock_out?item.stock_out:0}}
                                                        </div>
                                                    </div>
    
                                                    <div class="flex-item flex-1">
                                                     
                                                        
                                                        <div class="flex-container">
                                                            <div class="flex-item">
                                                                <button [disabled]="item.stock_out === item.stock_in"
                                                                (click)="updateStock('add',item)"
                                                                class="button tiny clear active margin-bottom-0">-</button>
                                                                
    
                                                            </div>
                                                            <div class="flex-item">
                                                                {{item.stock_in - item.stock_out}}
    
                                                            </div>
                                                            <div class="flex-item">
                                                               
                                                                <button [disabled]="item.stock_out === 0"
                                                                    (click)="updateStock('reduce',item)"
                                                                    class="button tiny clear active margin-bottom-0">+</button>
                                                            </div>

                                                          
                                                        </div>
                                                    </div>
    
    
    
    
    
    
                                                </div>
    
                                            </div>
                                        </div>
                                        <app-placeholder *ngIf="item.stock?.length == 0"></app-placeholder>
                                    </div>
    
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                   
                    <app-placeholder *ngIf="product.length === 0"></app-placeholder>



                </div>



            </div>

            <div *ngIf="tab_view == 'assets'">

                <div class="fade-in" *ngIf="assets">
                    <div *ngIf="assets.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">
                                <div class="flex-item flex-1">
                                    Name
                                </div>
    
                             
    
                                <div class="flex-item flex-1">
                                    Location
                                </div>
    
    
                                <div class="flex-item flex-1">
                                    Cost
                                </div>
    
                             
                                <div class="flex-item flex-1">
                                  Expired Date
                                </div>
    
                                <div class="flex-item flex-1">
                                    Status
                                </div>
    
    
    
    
    
    
                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of assets">
                                <div [ngClass]="{'long-fade-in': item.isNew}"
                                    class="flex-container table-body-item align-center">
    
    
                                    <div class="flex-item flex-1">
                                      
                                        <app-form-input [isHideLabel]="true" [isHideAction]="true"
                                        [label]="'Name'" [id]="'name'" [value]="item.name"
                                        (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>

                                        <app-form-input class="color-grey" [isHideLabel]="true" [isHideAction]="true"
                                        [label]="'Brand'" [id]="'brand'" [value]="item.brand"
                                        (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>
                                    </div>
    
                                    <div class="flex-item flex-1">
                                        <app-form-input [isHideLabel]="true" [isHideAction]="true"
                                        [label]="'Location'" [id]="'location'" [value]="item.location"
                                        (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>
                                       <div class="large-text color-grey">
                                       Receive on {{item.created_at | date}}
                                       </div>
    
                                    </div>
    
                                    <div class="flex-item flex-1">
                                      
                                        <app-form-input [type]="'currency'" [isHideLabel]="true" [isHideAction]="true"
                                        [label]="'Price'" [id]="'cost'" [value]="item.cost"
                                        (onClose)="updateInventory($event,item.id)">
                                        </app-form-input>
                                    </div>
    
    
    
                                    
                                    <div class="flex-item flex-1">
                                        {{item.expired_date | date}}
                                        <div> <span class="span-label Macro">
                                                {{_getExpired(item.expired_date)}}
    
                                            </span></div>
                                    </div>
    
                                    <div class="flex-item flex-1">
                                        <app-status-label [label]="item.status" [option]="assets_status"
                                        (onSelect)="updateInventory($event,item.id)"></app-status-label>
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
                    </div>
                  

                    <app-placeholder *ngIf="assets.length === 0"></app-placeholder>


                </div>



            </div>
        </div>

    </div>

    <app-modal (onClose)="closeModal()" [title]="'Receive Stock'" *ngIf="showModal == 'addStockModal'">
        <h5>{{selected_inventory.name}}</h5>
        <form class="form" [formGroup]="stockForm">
            <label for="">Sender</label>
            <input formControlName="sender" type="text" name="" id="">

            <label for="">Variant</label>
            <input formControlName="variant" type="text" name="" id="">

            <label for="">Stock In</label>
            <input formControlName="stock_in" type="number" name="" id="">

            <label for="">Expired Date</label>
            <input formControlName="expired_date" type="date" name="" id="">

            <label for="">Warehouse Location</label>
            <input formControlName="location" type="text" name="" id="">

            <button (click)="addInventoryStock()" class="button expanded">Add Stock</button>
        </form>
    </app-modal>
    <!-- *ngIf="showModal == 'addStockModal' -->
    <app-modal (onClose)="closeModal()" *ngIf="showModal == 'addInventoryModal'" [title]="'Add Inventory'">

        <form class="form" [formGroup]="inventoryForm">
            <label for="">Type</label>

            <select formControlName="type" name="" id="">
                <option value="product">Product</option>
                <option value="assets">Assets</option>
            </select>

            <div *ngIf="inventoryForm.get('type').value == 'product'">
                <label for="">Name</label>
                <input formControlName="name" type="text" name="" id="">

                <label for="">Brand</label>
                <input formControlName="brand" type="text" name="" id="">

                <label for="">Category</label>
                <input formControlName="category" type="text" name="" id="">
            </div>

            <div *ngIf="inventoryForm.get('type').value == 'assets'">
                <label for="">Name</label>
                <input formControlName="name" type="text" name="" id="">

                <label for="">Brand</label>
                <input formControlName="brand" type="text" name="" id="">

                <label for="">Expired</label>
                <input formControlName="expired_date" type="date" name="" id="">

                <label for="">Assets Location</label>
                <input formControlName="location" type="text" name="" id="">

                <label for="">Cost</label>
                <input formControlName="cost" type="number" name="" id="">
            </div>

            <div>

            </div>

            <button (click)="addInventory()" class="button expanded">Add Inventory</button>
        </form>
    </app-modal>

</app-body>