<div *ngIf="showModal">
    <div class="modal-container">
        <div class="callout padding-center rounded modal-content">
            <div class="modal-header">
                <h3>{{this.title}}</h3>
                <a (click)="closeModal()" class="close white">
                    <fa-icon [icon]="faTimesCircle" class="icon"></fa-icon>
                </a>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
    
   
</div>