<app-body [hideNav]="true">
    <div *ngIf="campaign" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/creator/campaign/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Campaign
                    </a>
                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">
                        <div class="flex-item margin-right-2 text-center">
                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">{{campaign.start_date | date : "dd"}}</h1>
                                <div class="large-text color-grey">{{campaign.start_date | date : "MMM"}}
                                    {{campaign.start_date | date : "yyyy"}}</div>
                            </div>
                        </div>

                        <div class="flex-item flex-2">
                            <h1>{{campaign.campaign_name}}</h1>
                            <div class="large-text margin-bottom-1">
                                Project Owner : {{campaign.owner?.first_name}}
                            </div>

                            <div *ngIf="overview" class="row medium-up-4">
                                <div *ngFor="let item of overview" class="columns">
                                    <div class="small-text color-grey">{{item.label}}</div>
                                    <h5>{{item.value}}</h5>
                                </div>

                            </div>

                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">General Information</h3>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="flex-container">
                                    <div class="flex-item large-text flex-1">
                                        Status
                                    </div>
                                    <div class="flex-item flex-1 text-right">
                                        <label class="switch">
                                            <input type="checkbox" [checked]="campaign.status"
                                                (change)="updateStatus(campaign)">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="small-text">Client</div>
                                <app-form-select (onSelect)="updateCampaign($event)" (onSearch)="searchClient($event)"
                                    [option]="client_list" [label]="'Client'"
                                    [selected_option]="campaign.client?.client_name"></app-form-select>



                            </div>




                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Location'" [value]="campaign.location" [id]="'location'"
                                    (onClose)="updateCampaign($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Address'" [value]="campaign.custom_data_1"
                                    [id]="'custom_data_1'" (onClose)="updateCampaign($event)"></app-form-input>
                            </div>



                        </div>


                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Report</h3>








                        </div>
                    </div>

                    <div class="medium-8 columns">

                        <div class="callout padding-center rounded medium-grey-bg margin-bottom-1"
                            style="min-height: 85vh;">


                            <div class="flex-container align-center">
                                <div class="flex-item flex-1">
                                    <h3>Invited Creator</h3>
                                </div>
                                <div class="flex-item flex-1 text-right">
                                    <button (click)="inviteCreator()" class="button small clear active">+
                                        Add Creator</button>

                                </div>
                            </div>

                            <div class="table-container" style="max-height: 60vh;">

                                <div *ngIf="campaign.invited_creator.length !== 0">
                                    <div class="table-header">
                                        <div class="flex-container table-header-item">
                                            <div class="flex-item flex-2">
                                                Creator
                                            </div>





                                            <div class="flex-item flex-1">
                                                Contract
                                            </div>

                                            <!-- <div class="flex-item flex-1">
                                                BAST
                                            </div> -->


                                            <div class="flex-item flex-05 text-right">
                                                Action
                                            </div>







                                        </div>
                                    </div>

                                    <div class="table-body">
                                        <div *ngFor="let item of campaign.invited_creator"
                                            class="flex-container table-body-item hover-show cursor">
                                            <div class="flex-item flex-2">

                                                <div class="flex-container align-center">
                                                    <div class="flex-item margin-right-05">
                                                        <div class="avatar-container" style="width: 60px;height: 60px;">
                                                            <img style="width: 60px;height: 60px;"
                                                                *ngIf="item.creator.profile_photo_url"
                                                                class="avatar-image"
                                                                [src]="item.creator.profile_photo_url" alt="">

                                                            <div *ngIf="!item.creator.profile_photo_url"
                                                                style="width: 60px;height: 60px;line-height: 60px;"
                                                                class="avatar-placeholder">
                                                                {{ getPlaceholderName(item.creator)}}
                                                            </div>
                                                        </div>



                                                    </div>

                                                    <div class="flex-item flex-1">
                                                        <div>
                                                            {{item.creator.first_name}} {{item.creator.last_name}} <span
                                                                class="span-label macro tiny-text">{{item.creator.tier}}</span>
                                                        </div>
                                                        <div class="color-grey">
                                                            Lifestyle, Beauty, Foodie
                                                        </div>

                                                        <div class="color-grey">
                                                            {{item.creator.location}}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>






                                            <div class="flex-item flex-1">
                                                <button [disabled]="!campaign.client_id" *ngIf="!item.contract_id"
                                                    (click)="createContract(item)" class="button tiny white">+
                                                    Add Contract</button>

                                                <!-- <button (click)="createContract(item)" class="button tiny white">+
                                                    Add Contract</button> -->

                                                <button *ngIf="item.contract_id" (click)="viewContract(item)"
                                                    class="button  tiny clear active hollow">
                                                    Contract #{{item.contract_id}} <fa-icon [icon]="faChevronDown">
                                                    </fa-icon>
                                                </button>
                                            </div>

                                            <!-- <div class="flex-item flex-1">

                                                <button *ngIf="item.contract_id" (click)="openModal('bastReport')"
                                                    class="button tiny white">+
                                                    Generate Report</button>
                                                <button disabled *ngIf="!item.contract_id"
                                                    (click)="openModal('bastReport')"
                                                    class="button tiny clear active hollow">+
                                                    Generate Report</button>


                                            </div> -->

                                            <div class="flex-item flex-05 text-right">
                                                <app-remove-button (onClick)="deleteInvitedCreator(item)">
                                                    <button [disabled]="item.contract_id"
                                                        class="button tiny clear active">Remove</button>
                                                </app-remove-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <app-placeholder *ngIf="campaign.invited_creator.length === 0"></app-placeholder>


                            </div>



                        </div>



                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <div class="callout padding-center">
                        <h3 class="margin-bottom-1">Note</h3>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- *ngIf="showModal == 'addCreatorModal'" -->



    <app-modal *ngIf="showModal == 'addCreatorModal'" (onClose)="closeModal()" [title]="'Add Creator'">
        <app-form-search (onSearch)="getCreator($event)"></app-form-search>
        <div *ngIf="creator" class="table-body ">



            <div *ngFor="let item of creator" class="flex-container table-body-item align-center">



                <div class="flex-item flex-2 cursor">


                    <div class="flex-container align-center">
                        <div class="flex-item margin-right-05">
                            <div class="avatar-container" style="width: 60px;height: 60px;">
                                <img style="width: 60px;height: 60px;" *ngIf="item.profile_photo_url"
                                    class="avatar-image" [src]="item.profile_photo_url" alt="">

                                <div *ngIf="!item.profile_photo_url" style="width: 60px;height: 60px;line-height: 60px;"
                                    class="avatar-placeholder">
                                    {{ getPlaceholderName(item)}}
                                </div>
                            </div>



                        </div>
                        <div class="flex-item flex-1">
                            <div>
                                {{item.first_name}} {{item.last_name}} <span
                                    class="span-label macro tiny-text">{{item.tier}}</span>
                            </div>
                            <div class="color-grey">
                                Lifestyle, Beauty, Foodie
                            </div>

                            <div class="color-grey">
                                {{item.location}}
                            </div>
                        </div>

                    </div>
                </div>




                <div class="flex-item text-right">

                    <button [disabled]="item.isAdded" (click)="addToCampaign(item)" class="button  tiny clear">
                        {{item.isAdded?'Added!':'+ Add'}}

                    </button>
                </div>


            </div>

        </div>

    </app-modal>
    <app-modal [title]="'Create Contract'" (onClose)="closeModal()" *ngIf="showModal == 'addContractModal'">
        <div *ngIf="contract" class="form">
            <div class="margin-bottom-1">
                <h5>Scope of Work</h5>
                <div *ngFor="let item of contract.scope" class="flex-container">
                    <div class="flex-05 margin-right-05">
                        <label for="">Platform</label>
                        <select [(ngModel)]="item.platform_name" id="">
                            <option value="instagram">Instagram</option>
                            <option value="tiktok">Tiktok</option>
                        </select>

                    </div>
                    <div class="flex-1 margin-right-05">
                        <label for="">Service Name</label>
                        <input [(ngModel)]="item.name" type="text">
                    </div>
                </div>

                <a (click)="addMoreScope()" class="link">+Add More</a>
            </div>

            <label for="">Budget</label>
            <input type="number" [(ngModel)]="contract.budget">

            <label for="">Gross Up</label>
            <input type="number" [(ngModel)]="contract.gross_up">

            <h5>Term of Payment ( days )</h5>
            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Down Payment</label>
                    <input type="number" [(ngModel)]="contract.term_of_payment_1">
                </div>
                <div class="flex-item flex-1">
                    <label for="">Full Payment</label>
                    <input type="number" [(ngModel)]="contract.term_of_payment">
                </div>
            </div>

            <div class="padding-center">
                <app-remove-button (onClick)="addContract()">
                    <button class="button expanded">Create Contract</button>
                </app-remove-button>

            </div>

        </div>

    </app-modal>

    <app-modal (onClose)="closeModal()" [title]="'Contract'" *ngIf="showModal == 'contractModal'">
        <div *ngIf="selected_contract">
            <div class="list-tile-container margin-bottom-2">
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Create Date

                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.created_at | date}}

                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Contract ID #{{selected_contract.id}}
                            <div class="color-grey">
                                Custom ID #{{selected_contract.custom_contract_id}}
                            </div>
                        </div>

                        <div class="flex-item flex-1">
                            <a class="color-grey link"> Download</a>
                        </div>
                    </div>
                </div>

                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Status

                        </div>
                        <div class="flex-item flex-1">
                         

                            <app-status-label [label]="selected_contract.status"></app-status-label>


                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Payment Status
                            <div class="color-grey">
                                Invoice #{{selected_contract.invoice_number}}
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="status-label">
                                <app-status-label [label]="selected_contract.invoice_number?'Paid':'UnPaid'"></app-status-label>
                              
                            </div>


                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Budget
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.budget}}
                        </div>
                    </div>
                </div>
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Gross Up
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.gross_up}}
                        </div>
                    </div>
                </div>
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Term of Payment
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.term_of_payment}}
                        </div>
                    </div>
                </div>


            </div>
            <h5>Scope of Work</h5>
            <div *ngIf="selected_contract?.scope" class="list-tile-container">
                <div *ngFor="let item of selected_contract.scope" class="list-tile-item">

                    <div class="flex-container">
                        <div class="flex-05">
                            {{item.platform_name}}
                        </div>
                        <div class="flex-1">
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-modal>

    <app-modal (onClose)="closeModal()" *ngIf="showModal =='bastReport'">

        <h3>Anya Geraldine</h3>
        <div class="large-text">Report Generate By : Febri</div>
        <div class="table-header">
            <div class="flex-container table-header-item">


                <div class="flex-item flex-1">
                    Like
                </div>

                <div class="flex-item flex-1">
                    Comment
                </div>



                <div class="flex-item flex-1">
                    Reached
                </div>

                <div class="flex-item flex-1">
                    Plays
                </div>

                <div class="flex-item flex-1">
                    Screenshot
                </div>













            </div>
        </div>
        <div class="table-body margin-bottom-1">
            <div class="flex-container cursor table-body-item align-center">





                <div class="flex-item flex-1">
                    201
                </div>

                <div class="flex-item flex-1">
                    20
                </div>



                <div class="flex-item flex-1">
                    700
                </div>

                <div class="flex-item flex-1">
                    9000
                </div>

                <div class="flex-item flex-1">

                    <img src="https://static-prod.adweek.com/wp-content/uploads/2022/10/TikTok-Video-Screenshot-523x1024.png"
                        alt="">

                </div>





            </div>


        </div>

        <button class="button tiny white">Download </button>
    </app-modal>

</app-body>