<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Assignment</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <!-- <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                              

                            </ul>
                        </div> -->

                    </div>

                </div>
            </div>


            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>



            <div>
                <app-table-action></app-table-action>
                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-1">
                            Request By
                        </div>

                        <div class="flex-item flex-1">
                            Description
                        </div>
                        <div class="flex-item flex-1">
                            Request Date
                        </div>

                        <div class="flex-item flex-1">
                            Due Date
                        </div>



                        <div class="flex-item flex-1">
                            Status
                        </div>

                        <div class="flex-item flex-1">
                            Priority
                        </div>







                    </div>
                </div>
                <div class="table-body ">
                    <div class="flex-container cursor table-body-item align-center">






                        <div class="flex-item flex-1">
                            <div class="flex-container align-center">
                                <div class="flex-item">
                                    <img class="avatar-image" src="https://placehold.co/200x200" alt="">
                                </div>
                                <div class="flex-item flex-1">
                                    <div class="large-text">Febri Yulianti</div>
                                    <div class="tiny-text">Creator Team</div>
                                </div>

                            </div>
                        </div>

                        <div class="flex-item flex-1">
                            Buat banner campaign
                        </div>
                        <div class="flex-item flex-1">
                            2 Jan
                        </div>

                        <div class="flex-item flex-1">
                            3 Jan
                        </div>



                        <div class="flex-item flex-1">
                            <app-status-label [label]="'Request'" [label_list]="booking_status"></app-status-label>
                        </div>

                        <div class="flex-item flex-1">
                            Low
                        </div>






                    </div>

                </div>

            </div>









        </div>

    </div>

</app-body>