<div *ngIf="isOpen" class="notif-containers text-center long-fade-in">
 
    <div class="notif-content elevate">
        <div>
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            <h4>Please Wait</h4>
            <p class="large-text margin-bottom-1">Do not refresh this page</p>
           
            
         
        </div>
    </div>
</div>

