<nav *ngIf="user_account" class="global-navigation show-for-medium border-bottom">
    <div class="flex-container align-center large-text">
        <div class="flex-item flex-4">

        </div>


        <!-- <div class="flex-item text-right margin-right-05">
            <button class="button small clear margin-bottom-0">
                <fa-icon [icon]="faHome"></fa-icon>
            </button>
        </div> -->
        <div class="flex-item text-right margin-right-05">
            <button (click)="openModal('notificationModal')" class="button small clear margin-bottom-0 icon-container">

                <div class="notif">{{notification_count}}</div>
                <fa-icon [icon]="faBell"></fa-icon>

            </button>
        </div>
        <div class="flex-item text-right margin-right-2">
            <button (click)="openModal('taskModal')" class="button small clear active margin-bottom-0">+ Add
                Task</button>
        </div>
        <div class="flex-item text-right margin-right-1">
            <img *ngIf="user_account.profile_photo_url" class="avatar-image" src="https://placehold.co/200x200" alt="">
            <!-- <img class="avatar-image" [src]="user_account.user_image" alt="">

                
            -->

            <div *ngIf="!user_account.profile_photo_url" class="avatar-placeholder">
                {{inital_name}}
            </div>
        </div>



    </div>
</nav>

<app-modal *ngIf="showModal == 'notificationModal'" [title]="'Notification'" (onClose)="closeModal()">
    <div *ngIf="notification">
        <div *ngFor="let item of notification" class="callout padding-center-1 rounded medium-grey-bg margin-bottom-1">
            <div class="flex-container">
                <div class="flex-item flex-1">
                    <div class="large-text">
                        {{item.title}}
                    </div>
                    <div class="tiny-text">
                        {{item.description}}
                    </div>
                </div>
                <div class="flex-item">
                    <div class="tiny-text color-grey margin-bottom-05">
                        {{item.created_at | date}}
                    </div>
                    <button [routerLink]="[item.navigation_link]" *ngIf="item.navigation_link" class="button tiny clear  active">
                        View 
                    </button>

                  
                </div>
            </div>
        </div>
    </div>

</app-modal>


<app-modal [title]="'Add Task'" *ngIf="showModal == 'taskModal' " (onClose)="closeModal()">
    <app-task (onClose)="closeModal()"></app-task>
</app-modal>