<div class="task-detail-container form">
    <div class="callout border-bottom">
        <div class="flex-container margin-bottom-05">

            <div class="flex-item flex-1 margin-right-05">

                <button (click)="openModal('priorityModal')" class="button small clear active hollow expanded">
                    {{task.priority?task.priority:'+ Priority'}}
                </button>
            </div>
            <div class="flex-item flex-1 margin-right">

                <button (click)="openModal('labelModal')" class="button small clear active hollow expanded">
                    {{task.labels?task.labels:'+ Label'}}
                </button>
            </div>
        </div>

        <label>Title</label>
        <input placeholder="Write a description" type="text" [(ngModel)]="task.title">

        <label>Description</label>
        <textarea [(ngModel)]="task.description" name="" id="" cols="30" rows="3"></textarea>

    </div>


    <div class="callout border-bottom">
        <label>Assign to :</label>
       

        <div class="flex-container">
            <div *ngFor="let item of task.member" class="flex-item margin-right-05">
                <img *ngIf="item.profile_photo_url" class="avatar-image" src="https://placehold.co/200x200" alt="">

                <div *ngIf="!item.profile_photo_url" class="avatar-placeholder" style="border: 1px solid #cacaca;">
                    {{ getPlaceholderName(item)}}
                </div>
            </div>

            <div class="flex-item">
                <div (click)="openModal('accountModal')" class="add-person cursor">
                    <div class="icon">
                        <fa-icon [icon]="faUserPlus"></fa-icon>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <button (click)="addUserAccountTask()" class="button expanded">
        Create Task
    </button>

    <app-modal-sheets  [title]="'Assign To'" *ngIf="showModal == 'accountModal'" (onClose)="closeModal()">
        <div *ngFor="let item of user_account" class="padding-bottom-05 margin-bottom-05 border-bottom">
            <div class="flex-container align-center">
                <div class="flex-item margin-right-05">
                    <img *ngIf="item.profile_photo_url" class="avatar-image" src="https://placehold.co/200x200" alt="">

                    <div *ngIf="!item.profile_photo_url" class="avatar-placeholder">
                        {{ getPlaceholderName(item)}}
                    </div>
                </div>
                <div class="flex-item flex-1">
                    <div class="large-text">
                        {{item.first_name}} {{item.last_name}}
                    </div>
                </div>
                <div class="flex-item">
                    <button (click)="addMember(item)" class="button tiny clear active">
                        Add
                    </button>

                </div>
            </div>
        </div>

    </app-modal-sheets>


    <app-modal-sheets *ngIf="showModal == 'labelModal'" (onClose)="closeModal()">
        <div *ngFor="let item of label" class="padding-bottom-05 margin-bottom-05 border-bottom">
            <div class="flex-container align-center">

                <div class="flex-item flex-1">
                    <div class="large-text">
                        {{item.name}}
                    </div>
                </div>
                <div class="flex-item">
                    <button (click)="setLabel(item)" class="button tiny clear hollow">
                        Add
                    </button>

                </div>
            </div>
        </div>

    </app-modal-sheets>

    <app-modal-sheets *ngIf="showModal == 'priorityModal'" (onClose)="closeModal()">
        <div *ngFor="let item of priority" class="padding-bottom-05 margin-bottom-05 border-bottom">
            <div class="flex-container align-center">

                <div class="flex-item flex-1">
                    <div class="large-text">
                        {{item.name}}
                    </div>
                </div>
                <div class="flex-item">
                    <button (click)="setPriority(item)" class="button tiny clear hollow">
                        Add
                    </button>

                </div>
            </div>
        </div>

    </app-modal-sheets>




</div>