<div class="padding-center">
    <div class="row">
        <div class="medium-4 columns medium-centered elevate long-fade-in">

            <div class="callout padding-center rounded medium-grey-bg form">

                <div class="padding-middles">
                    <div *ngIf="page_view=='login'" class="login">
                        <h1>Sign in to Eden Creative</h1>
                        <form class="form" [formGroup]="loginForm">
                            <label for="">Email</label>
                            <input  formControlName="email" type="text" name="" id="">
                
                           
                    
                            <label for="">Password</label>
                            <input  formControlName="password_hash" type="password">
                    
                            <button [disabled]="!loginForm.valid" (click)="userLogin()" class="button expanded">Login</button>
                        </form>

                   
                      
                    </div>

                    <div  *ngIf="page_view=='reset'" class="login">
                        <h1>Find your Eden Account</h1>
                        <p>Enter the email or username</p>

                        <label for="">Email</label>
                        <input type="text" name="" id="">
                        <button class="button expanded">Reset Password</button>

                        <div class="text-center white small-text"><a (click)="_navigateTo('login')">Back to Sign In</a></div>

                    </div>

                    <div  *ngIf="page_view=='setup'" class="login">
                        <h1>Setup a New Password</h1>

                        <label for="">New Password</label>
                        <input type="text" name="" id="">

                        <label for="">Verification Code</label>
                        <input type="text" name="" id="">

                        <button class="button expanded">Submit</button>
                        <div class="text-center white small-text"><a (click)="_navigateTo('login')">Back to Sign In</a></div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
