<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Campaign</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createCampaignFormModal')"
                                        class="button rounded  clear active ">+ Create Campaign</button></li>

                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <!-- <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu> -->
            <app-table-action [sortListItems]=""></app-table-action>

            <div class="event-homepage">

                <div *ngIf="campaign" class="fade-in">
                    <div *ngIf="campaign.length !== 0">
                        <div (click)="_navigateTo(item.id)" *ngFor="let item of campaign"
                            class="callout padding-center rounded medium-grey-bg event-item status margin-bottom-05 cursor relative">
                            <div class="flex-container align-center">
                                <div class="flex-item margin-right-2 text-center">
                                    <div class="callout padding-center medium-grey-bg rounded border">
                                        <h1 class="margin-bottom-0">{{item.start_date | date : "dd"}}</h1>
                                        <div class="large-text color-grey">{{item.start_date | date : "MMM"}}
                                            {{item.start_date | date : "yyyy"}}</div>
                                    </div>
                                </div>

                                <div class="flex-item separator" style="flex:1.5">

                                    <div class="mega-text bold">{{item.campaign_name | titlecase}}</div>
                                    <div class="large-text color-grey margin-bottom-1">{{item.location | titlecase}},
                                        Project Owner : {{item.owner?.first_name}} {{item.owner?.last_name}}


                                    </div>

                                    <div class="flex-container">

                                        <div class="flex-item ">

                                            <div class="kol-container" style="margin-left: 10px;">
                                                <div class="flex-container">
                                                    <div *ngFor="let item of item.invited_creator" class="flex-item">
                                                        <div *ngIf="!item.creator.profile_photo_url"
                                                            class="placeholder-container">
                                                            <div style="margin-left: -10px;border:  1px solid #ccc !important;"
                                                                class="avatar-placeholder">
                                                                {{getPlaceholderName(item.creator)}}
                                                            </div>

                                                        </div>
                                                        <img style="border:  1px solid #ccc !important;"
                                                            *ngIf="item.creator.profile_photo_url" class="avatar-image"
                                                            [src]="item.creator.profile_photo_url" alt="">
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="flex-item flex-3">


                                    <div class="insight-container">
                                        <div class="row medium-up-4">
                                            <div class="columns">
                                                <div class="small-text color-grey">
                                                    Client
                                                </div>
                                                <h5>{{item.client?.client_name?item.client?.client_name:'Not Set'}}</h5>
                                            </div>

                                            <div class="columns">
                                                <div class="small-text color-grey">
                                                    Budget
                                                </div>
                                                <h5>{{item.budget | currency : "Rp" }} </h5>
                                            </div>

                                            <div class="columns">
                                                <div class="small-text color-grey">
                                                    Tier
                                                </div>
                                                <h5>{{item.creator_tier }} </h5>
                                            </div>

                                            <div class="columns">
                                                <div class="small-text color-grey">
                                                    Creator Need
                                                </div>
                                                <h5>{{item.creator_count}} </h5>
                                            </div>



                                        </div>





                                    </div>

                                </div>

                            </div>


                            <div class="more-button">
                                <div class="span-label mega small-text">
                                    <span *ngIf="item.status=='1'">Active</span>
                                    <span *ngIf="item.status=='0'">In-Active</span>

                                </div>

                            </div>
                        </div>
                    </div>


                    <app-placeholder *ngIf="campaign.length === 0"></app-placeholder>



                </div>




            </div>






        </div>

    </div>

    <app-modal *ngIf="showModal == 'createCampaignFormModal' " (onClose)="closeModal()">
        <h3 class="margin-bottom-1">
            Create Campaign
        </h3>
        <div class="campaign-container sub-menu-container">
            <form class="form" [formGroup]="createCampaignForm">
                <label for="">Campaign Name</label>
                <input formControlName="campaign_name" type="text" name="" id="">

                <label for="">Location / Venue</label>
                <input formControlName="location" type="text" name="" id="">

                <div class="date-cotainer margin-bottom-1 padding-bottom-1 border-bottom">
                    <div class="flex-container">
                        <div class="flex-item flex-1">
                            <label for="">Start Date </label>
                            <input class="margin-bottom-0" formControlName="start_date" type="date" name="" id="">
                        </div>
                        <div *ngIf="is_end_date" class="flex-item flex-1 margin-left-05">
                            <label for="">End Date</label>
                            <input class="margin-bottom-0" formControlName="end_date" type="date" name="" id="">
                        </div>
                    </div>
                    <a (click)="toggleEndDate()"
                        class="white small-text">{{!is_end_date?'+ Add End Date?':'Remove End Date'}} </a>

                </div>






                <div class="flex-container">

                    <div class="flex-item flex-1">
                        <label for="">Budget</label>
                        <input formControlName="budget" type="number" name="" id="">

                    </div>
                </div>


                <div class="flex-container margin-bottom-1">
                    <div class="flex-item flex-1 margin-right-05">
                        <label for="">Number of Creator</label>
                        <input formControlName="creator_count" type="number" name="" id="">

                    </div>
                    <div class="flex-item flex-1">
                        <label for="">Creator Tier</label>
                        <select formControlName="creator_tier" name="" id="">
                            <option *ngFor="let item of tier" [value]="item.id">{{item.id}} - {{item.value}}</option>
                        </select>


                    </div>
                </div>










                <button (click)="addCampaign()" class="button expanded">Create Campaign</button>
            </form>


        </div>


    </app-modal>


</app-body>
