.event-container{
   
   
    .event-item{
        position: relative;
        cursor: pointer;
        &:hover{
            
            transition: all .1s ease;
            background:#29292959 !important
        }
        .separator{
            margin-right: 2rem;
            border-right: 1px solid #4242421c !important;
        }
        .event-image{
            border-radius: 3px;
        }
        .date{
            font-size: 50px;
            line-height: 1;
        }

        .more-button{
            position: absolute;
            right: 10px;
            top:10px
        }
        
        
    }
    
}


.sub-menu-container{
    position: relative;
    .sub-menu{
        position: absolute;
        bottom: 1;
        width: 100%;
        
        
    }
}