<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Newsfeed</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <!-- <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                              

                            </ul>
                        </div> -->

                    </div>

                </div>
            </div>


            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>

            <app-table-action></app-table-action>

            <div *ngIf="tab_view == 'post'">

                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-1">
                            Title
                        </div>


                        <div class="flex-item flex-1">
                            Description
                        </div>

                        <div class="flex-item flex-1">
                            Category
                        </div>

                        <div class="flex-item flex-1">
                            Pin Count
                        </div>

                        <div class="flex-item flex-1">
                            Reach Count
                        </div>

                        <div class="flex-item flex-1">
                            Share Count
                        </div>




                        <div class="flex-item flex-1">
                           Status
                        </div>

                        <div class="flex-item flex-1">
                            Action
                        </div>



                    </div>
                </div>
                <div class="table-body ">
                    <div class="flex-container cursor table-body-item align-center">



                        <div class="flex-item flex-1">
                            Title
                        </div>


                        <div class="flex-item flex-1">
                            Description
                        </div>

                        <div class="flex-item flex-1">
                            Category
                        </div>

                        <div class="flex-item flex-1">
                            Pin Count
                        </div>

                        <div class="flex-item flex-1">
                            Reach Count
                        </div>

                        <div class="flex-item flex-1">
                            Share Count
                        </div>




                        <div class="flex-item flex-1">
                           Status
                        </div>

                        <div class="flex-item flex-1">
                            Action
                        </div>




                    </div>

                </div>

            </div>

            <app-newsfeed-backend-category *ngIf="tab_view == 'category'"></app-newsfeed-backend-category>
            <app-newsfeed-backend-filtering *ngIf="tab_view == 'filtering'"></app-newsfeed-backend-filtering>
            <app-newsfeed-backend-account *ngIf="tab_view == 'account'"></app-newsfeed-backend-account>







        </div>

    </div>

</app-body>