.modal-sheets-container{
 
    .modal-sheets-content{
        position: fixed;
        width: 30%;
        right: 0;
        bottom: 0;
        background: #4a4a4a;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: auto;
        min-height: 70vh;
        
    }
}
