<div class="flex-container body-container">
    <div *ngIf="!hideNav" class="flex-item sidebar-container medium-grey-bg">
        <app-bisidebar></app-bisidebar>
    </div>
    <div class="flex-item flex-1">
        <app-top-navigation></app-top-navigation>
        <ng-content></ng-content>

    </div>
</div>

