<div class="flex-container align-center form hover-show">

    <div class="flex-item flex-1 margin-right-05">
        <div class="cursor" (click)="toggleEdit()" *ngIf="!isEdit">
            <div *ngIf="input.value">
                <div *ngIf="!isHideLabel" class="large-text color-grey">{{input.label}}</div>
                <div *ngIf="!isProgress">
                    <span *ngIf="type == 'currency'">
                        {{input.value | currency : 'IDR'}}
                    </span>
                    <span *ngIf="type !== 'currency'">
                        {{input.value }}
                    </span>

                 
                </div>
                <div *ngIf="isProgress" class="large-text">
                    <app-progress-component [value]="input.value"></app-progress-component>
                </div>


            </div>
            <div *ngIf="!input.value">

                <div class="large-text color-grey">
                    {{input.label}}
                </div>
            </div>

        </div>

        <div *ngIf="isEdit">
            <label  *ngIf="!isHideLabel"  for="">{{input.label}}</label>

            <input #search [placeholder]="placeholder" (keydown.enter)="saveData()" [(ngModel)]="input.value" class="margin-bottom-0" [type]="getType()">
        </div>


    </div>
    <div class="flex-item">


        <button [disabled]="disabled" *ngIf="!isEdit" (click)="toggleEdit()" [ngClass]="{hide: isHideAction}" class="button margin-bottom-0 tiny clear  ">
            {{input.value?'Edit':'+ Add'}}
        </button>
        <button (click)="saveData()" *ngIf="isEdit" class="button margin-bottom-0 tiny white ">
            Save
        </button>

    </div>
</div>