
input{
    border: none  !important;
    margin-bottom: 0rem;
    font-size: 16px !important;
    border-radius: 3px !important;
    padding: 0 !important;
    line-height: 1.5;
    color: #cccccc !important;
    background: unset !important;
    border-radius: 0 !important;
    &:active{
        border: none  !important;
    }
    &:focus{
        border: none  !important;
    }
  }
  