<app-body [hideNav]="true">
    <div *ngIf="aquisition" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/client/aquisition/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Contact
                    </a>
                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">

                        <div class="flex-item flex-2">
                            <h1>{{aquisition.aquisition_name}}</h1>


                            <div class="row medium-up-4">
                                <div class="columns">
                                    <div class="small-text color-grey">Create Date</div>
                                    <div class="huge-text">{{aquisition.created_at | date}}</div>
                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Last Update</div>
                                    <div class="huge-text">{{aquisition.updated_at | date}}</div>
                                </div>

                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>
                                    <app-status-label [label]="aquisition.deal_stage"
                                        (onSelect)="updateAquisition($event,aquisition.id)" [option]="contract_status">
                                    </app-status-label>

                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Aquisition Value</div>
                                    <div class="huge-text">{{aquisition?.budget? (aquisition.budget  | currency : 'IDR' ) : (0 | currency :'IDR')}}
                                       </div>
                                </div>

                            </div>



                        </div>

                        <!-- <div class="flex-item text-center">
                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">1</h1>
                                <div class="large-text color-grey">300K Follower</div>
                            </div>
                        </div>
 -->
                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Client Information</h3>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="small-text color-grey">
                                    Client
                                </div>
                                {{aquisition.client.client_name}}

                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <div class="small-text color-grey">
                                    Location
                                </div>

                                {{aquisition.client.location}}
                            </div>






                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'number'" [label]="'Aquisition Value (IDR)'"
                                    [value]="aquisition.budget" [id]="'budget'"
                                    (onClose)="updateAquisition($event,aquisition.id)"></app-form-input>

                            </div>



                        </div>

                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 35vh;">
                            <div class="flex-container align-center">
                                <div class="flex-item flex-1">
                                    <h3>Contact</h3>
                                </div>
                                <div class="flex-item flex-1 text-right">
                                    <button (click)="openModal('addContactModal')" class="button small clear">+
                                        Add</button>

                                </div>
                            </div>

                            <div class="list-tile-container">
                                <div *ngFor="let item of aquisition.client.contact"
                                    class="callout padding-center-1 rounded border margin-bottom-1">
                                    <div class="large-text margin-bottom-05">
                                        <fa-icon [icon]="faAddressBook"></fa-icon> {{item.name | titlecase}} <span
                                            class="span-label mega"> {{item.position}}</span>
                                    </div>

                                    <div class="flex-container align-center margin-bottom-05">
                                        <div class="flex-item flex-1 margin-right-05">
                                            <app-form-input [isHideAction]="true" [label]="'Mobile'" [id]="'mobile'"
                                                [value]="item.mobile" (onClose)="updateContact(item.id,$event)">
                                            </app-form-input>


                                        </div>
                                        <div class="flex-item flex-1 margin-right-05">





                                            <app-form-input [isHideAction]="true" [label]="'Work'" [id]="'work'"
                                                [value]="item.work" (onClose)="updateContact(item.id,$event)">
                                            </app-form-input>

                                        </div>

                                    </div>

                                    <app-form-input [isHideAction]="true" [label]="'Email'" [id]="'email'"
                                        [value]="item.email" (onClose)="updateContact(item.id,$event)"></app-form-input>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="medium-8 columns">

                        <div class="callout padding-center rounded medium-grey-bg margin-bottom-1"
                            style="min-height: 35vh;">


                            <div class="flex-container align-center">
                                <div class="flex-item flex-1">
                                    <h3>Scope of Work</h3>
                                </div>
                                <div class="flex-item flex-1 text-right">
                                    <button (click)="openModal('addScopeModal')" class="button small clear">+
                                        Add</button>

                                </div>
                            </div>

                            <div class="table-header">
                                <div class="flex-container table-header-item">
                                    <div class="flex-item flex-1">
                                        Name
                                    </div>
                                    <div class="flex-item flex-1">
                                        Description
                                    </div>

                                </div>
                            </div>

                            <div class="table-body">
                                <div *ngFor="let item of aquisition.scope" class="flex-container border table-body-item">
                                    <div class="flex-item flex-1">
                                        <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                        [value]="item.name" [id]="'name'"
                                        (onClose)="updateScope($event,item.id)"></app-form-input>
                                    </div>
                                    <div class="flex-item flex-1">
                                        <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Description'"
                                        [value]="item.description" [id]="'description'"
                                        (onClose)="updateScope($event,item.id)"></app-form-input>
                                       
                                    </div>

                                </div>
                            </div>







                        </div>




                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <div class="callout padding-center">
                        <h3 class="margin-bottom-1">Note</h3>
                        ..
                    </div>




                </div>
            </div>
        </div>
    </div>


    <app-modal  *ngIf="showModal=='addScopeModal'" [title]="'Add Scope of Work'">


        <form class="form margin-bottom-1" [formGroup]="scopeForm">


            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">

            <label for="">description</label>
            <input formControlName="description" type="text" name="" id="">

        




        </form>
        <button (click)="addScope()" class="button expanded">Add Scope</button>
    </app-modal>


    <app-modal *ngIf="showModal=='addContactModal'" [title]="'Add Contact'">


        <form class="form margin-bottom-1" [formGroup]="contactForm">


            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Name</label>
                    <input formControlName="name" type="text" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Position</label>
                    <input formControlName="position" type="text" name="" id="">


                </div>
            </div>


            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Mobile</label>
                    <input formControlName="mobile" type="number" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Work</label>
                    <input formControlName="work" type="number" name="" id="">


                </div>
            </div>



        </form>
        <button (click)="addContact()" class="button expanded">Add Contact</button>
    </app-modal>

</app-body>