.sidebar {
    padding: 1.5rem;
    width: 270px;

    a {
        position: relative;
        font-size: 14px;
        line-height: 1.7;
        padding: 0.7rem 1rem;
        color: #b0b3b8 ;
        border-radius: 8px;
        margin: 0;
        &.child_link{
            padding-left: 2.5rem;
        }
        &.active{
            background: #29292947 !important;
        }
    }

    a:hover {
        background: #29292947 !important;
        transition: all .3s ease;
    }
}

.icon {
    
  position: absolute;
  left: 1rem;
  
}


/* IPAD */
@media only screen and (min-width: 768px) and (max-height: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1.5) {

    .sidebar {
        padding: 1rem;
        width: 210px;
    
        a {
            position: relative;
            font-size: 14px;
            line-height: 1.7;
            padding: 0.5rem;
            color: #b0b3b8 ;
            border-radius: 8px;
            margin: 0;
            &.child_link{
                padding-left: 2.3rem;
            }
            &.active{
                background: #29292947 !important;
            }
        }
    
        a:hover {
            background: #29292947 !important;
            transition: all .3s ease;
        }
        .icon {
    
            position: absolute;
            left: 0.5rem;
            
          }
          
    }
    


}



  