<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Client Acquisition</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addForm')" class="button rounded  clear active ">+ Create New
                                        Aquisition</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <app-table-action></app-table-action>
            <div *ngIf="aquisition" class="fade-in">
                <div *ngIf="aquisition.length !== 0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">
    
    
                            <div class="flex-item flex-2">
                                Acquisition Name
                            </div>
    
    
                            <div class="flex-item flex-1">
                                Client
                            </div>
    
    
    
                            <div class="flex-item flex-1">
                                SOW
                            </div>
    
                            <div class="flex-item flex-1">
                                Value
                            </div>
    
                            <div class="flex-item flex-2">
                                Stages
                            </div>
    
                            <div class="flex-item flex-1">
                                Last Update
                            </div>
    
    
    
    
    
                        </div>
                    </div>
                    <div class="table-body ">
                        <div *ngFor="let item of aquisition" class="flex-container table-body-item align-center hover-show">
    
    
    
                            <div (click)="_navigateTo(item.id)" class="flex-item flex-2 cursor">
                                <span class="margin-right-05"> {{item.aquisition_name}} </span>
                                <fa-icon class="hide" [icon]="faExpandArrowsAlt"></fa-icon>
                            </div>
    
    
    
                            <div class="flex-item flex-1">
                                {{item.client.client_name}}
                            </div>
    
    
                            <div class="flex-item flex-1">
                                {{item.scope_count}} Service
                            </div>
    
    
    
                            <div class="flex-item flex-1">
                                {{item.budget? (item.budget | currency :'IDR') : (0 | currency : 'IDR')}}
                            </div>
    
                            <div class="flex-item flex-2">
                                <app-status-label [label]="item.deal_stage" (onSelect)="updateAquisition($event,item.id)"
                                    [option]="contract_status"></app-status-label>
                            </div>
    
                            <div class="flex-item flex-1">
                                {{item.updated_at | date}}
                            </div>
    

                        </div>
    
                    </div>
                </div>
                
                <app-placeholder *ngIf="aquisition.length === 0"></app-placeholder>
            </div>







        </div>

    </div>

</app-body>

<app-modal [title]="'Create Aquisition'" (onClose)="closeModal()" *ngIf="showModal == 'addForm'">
    <form class="form" [formGroup]="clientForm">

        <div>
            <label for="">Aquisition Name</label>
            <input formControlName="aquisition_name" type="text" name="" id="">

            <label for="">Client</label>
            <div class="input">
                <app-form-select (onSelect)="selectClient($event)" (onSearch)="searchClient($event)"
                    [option]="client_list" [label]="'Brand'"></app-form-select>

            </div>
        </div>







        <button (click)="addAquisition()" class="button rounded expanded">Create New Aquisition</button>



    </form>

</app-modal>