<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Rewards</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addRewardModal')" class="button rounded  clear active">+ Add Reward Collection</button></li>
                              

                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>



            <div *ngIf="tab_view == 'collection'">
                <div *ngIf="reward" class="fade-in">
                    <app-placeholder *ngIf="reward.length === 0"></app-placeholder>
                    <div *ngIf="reward.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    Reward
                                </div>
                                <div class="flex-item flex-1">
                                    Reward Value
                                </div>


                                <div class="flex-item flex-1">
                                  Active
                                </div>

                                <div class="flex-item flex-1">
                                  Expired
                                </div>

                                <div class="flex-item flex-1">
                                    Quota
                                </div>




                                <div class="flex-item flex-1">
                                    Total Reedem
                                </div>

                                <div class="flex-item flex-1">
                                    Redeem Points
                                </div>

                                <div class="flex-item flex-05">
                                  Action
                                </div>


                      





                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of reward" class="flex-container cursor table-body-item align-center">



                                <div class="flex-item flex-1">
                                    {{item.name}}

                                    <div class="color-grey">{{item.value | currency : 'IDR'}}</div>
                                </div>
                                <div class="flex-item flex-1">
                                    {{item.description}}
                                </div>



                                <div class="flex-item flex-1">
                                    {{item.start_date | date }} 
                                </div>
                                
                                <div class="flex-item flex-1">
                                     {{item.end_date | date}}
                                </div>
                                <div class="flex-item flex-1">
                                    {{item.quota}}
                                </div>



                                <div class="flex-item flex-1">
                                    {{item.total_redeem}}
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.redeem_points}}
                                </div>

                                <div class="flex-item flex-05 text-right">
                                  <button (click)="memberRedeem(item)" class="button tiny clear active">
                                    Redeem
                                  </button>
                                </div>


                             



                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <div *ngIf="tab_view == 'redeem'">
                <div *ngIf="redeem" class="fade-in">
                    <app-placeholder *ngIf="redeem.length === 0"></app-placeholder>
                    <div *ngIf="redeem.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    Member
                                </div>
                                <div class="flex-item flex-1">
                                    Reward
                                </div>


                                <div class="flex-item flex-1">
                                    Description
                                </div>

                                <div class="flex-item flex-1">
                                    Status
                                </div>

                                
                                <div class="flex-item flex-1">
                                    Request Date
                                </div>







                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of redeem" class="flex-container cursor table-body-item align-center">



                                <div class="flex-item flex-1">
                                    {{item.member?.first_name}} {{item.member?.last_name}}
                                </div>
                                <div class="flex-item flex-1">
                                 
                                    <div *ngIf="item.community_reward_id">
                                        {{item.reward?.name}}
                                       <div class="color-grey"> {{item.reward?.value | currency :'IDR'}}</div>
                                    </div>

                                    <div *ngIf="!item.community_reward_id">
                                        {{item.name}}
                                        <div class="color-grey"> {{item.value}}</div>
                                    </div>
                                   
                                </div>


                                <div class="flex-item flex-1">
                                   
                                    <div *ngIf="!item.community_reward_id">
                                        {{item.description}}

                                      
                                    </div>
                                    <div *ngIf="item.community_reward_id">
                                        {{item.reward?.description}}
                                      
                                    </div>
                                </div>

                                <div class="flex-item flex-1">
                                  
                                    <app-status-label [label]="item.status" [option]="reward_status" (onSelect)="updateRewardRedeem($event,item.id)"></app-status-label>
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.created_at | date}}
                                </div>







                            </div>

                        </div>
                    </div>

                </div>
            </div>










        </div>

    </div>

    
    <app-modal title="Add Reward Collection" (onClose)="closeModal()" *ngIf="showModal == 'addRewardModal'">

        <form class="form margin-bottom-1" [formGroup]="rewardForm">


            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">

            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">

            <label for="">Value</label>
            <input formControlName="value" type="text" name="" id="">

            <label for="">Redeem Points</label>
            <input formControlName="redeem_points" type="text" name="" id="">
            
            <label for="">Quota</label>
            <input formControlName="quota" type="text" name="" id="">

            <label for="">Active Date</label>
            <input formControlName="start_date" type="date" name="" id="">

            <label for="">Expired Date</label>
            <input formControlName="end_date" type="date" name="" id="">






            

        </form>
        <button [disabled]="!rewardForm.valid" (click)="addReward()" class="button expanded">Add Reward</button>
      
    </app-modal>

    <app-modal [title]="'Redeem'" *ngIf="showModal == 'memberRedeemModal'" (onClose)="closeModal()">
        
        <form class="form margin-bottom-1" [formGroup]="redeemForm">


            <label for="">Member</label>
                <div class="input">
                    <app-form-select (onSelect)="selectMember($event)" (onSearch)="searchMember($event)"
                        [option]="member_list" [label]="'Member'"></app-form-select>

                </div> 

        </form>
        <app-remove-button (onClick)="addMemberRedeem()" >
            <button [disabled]="!redeemForm.valid" class="button expanded">Redeem</button>
        </app-remove-button>
            
        </app-modal>

</app-body>