<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Vendor</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">


                                <li> <button (click)="openModal('vendorModal')"
                                        class="button rounded  clear active margin-right-05  margin-bottom-0">+ Add
                                        Vendor</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <app-tab-menu [tab_menu_list]="tab_menu_list" (onTab)="selectTabView($event)"></app-tab-menu>
            <app-table-action></app-table-action>

            <div *ngIf="tab_view == 'vendor'">
                <div *ngIf="vendor" class="fade-in">
                    <div *ngIf="vendor.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    Name
                                </div>

                                <div class="flex-item flex-1">
                                    Category
                                </div>




                                <div class="flex-item flex-1">
                                    Website
                                </div>






                                <div class="flex-item flex-1">
                                    Rating
                                </div>
                                <div class="flex-item flex-1">
                                    Hired
                                </div>

                                <div class="flex-item flex-1">
                                    Product
                                </div>


                                <div class="flex-item flex-05">

                                </div>










                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of vendor">
                                <div class="flex-container  table-body-item align-center">



                                    <div class="flex-item flex-1">
                                        {{item.name}}
                                    </div>

                                    <div class="flex-item flex-1">
                                        {{item.category?.name}}
                                    </div>





                                    <div class="flex-item flex-1">
                                        {{item.website}}
                                    </div>





                                    <div class="flex-item flex-1">

                                        <app-status-label [label]="item.rating_name" [option]="rating"
                                            (onSelect)="updateVendor($event,item.id)"></app-status-label>
                                    </div>
                                    <div class="flex-item flex-1">
                                        {{item.hired?item.hired:0}}
                                    </div>

                                    <div class="flex-item flex-1">

                                        <button class="button tiny clear active  clear margin-right-02">
                                            {{item.product_count}} Product
                                        </button>
                                        <button (click)="createProduct(item)" class="button tiny clear active  clear">
                                            +
                                        </button>
                                    </div>


                                    <div (click)="toggleShow(item)" class="flex-item cursor flex-05 text-right">
                                        <fa-icon [icon]="faChevronDown"></fa-icon>
                                    </div>


                                </div>

                                <div *ngIf="item.isShow" class="fade-in">
                                    <div class="callout padding-center border ">
                                        <div class="flex-container">
                                            <div class="flex-item flex-1">
                                                <div style="position: sticky;top: 2rem;">
                                                    <div
                                                        class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                                                        <h3>Vendor Details</h3>
                                                        <div class="flex-container">
                                                            <div class="flex-item flex-1 margin-right-1">
                                                                <div class="list-tile-container">
                                                                    <div class="list-tile-item">
                                                                        <app-form-input [label]="'Name'" [id]="'name'"
                                                                            [value]="item.name"
                                                                            (onClose)="updateVendor($event,item.id)">
                                                                        </app-form-input>
                                                                    </div>
                                                                    <div class="list-tile-item">
                                                                        <!-- <app-form-input [label]="'Category'"
                                                                            [id]="'category'" [value]="item.category"
                                                                            (onClose)="updateVendor($event,item.id)">
                                                                        </app-form-input> -->
                                                                        <label for="">Category</label>
                                                                        <app-form-select
                                                                            (onSelect)="updateVendor($event,item.id)"
                                                                            (onSearch)="searchCategory($event)"
                                                                            [option]="category_option"
                                                                            [label]="item.category?.name">
                                                                        </app-form-select>


                                                                    </div>
                                                                    <div class="list-tile-item">
                                                                        <app-form-input [label]="'Website'"
                                                                            [id]="'website'" [value]="item.website"
                                                                            (onClose)="updateVendor($event,item.id)">
                                                                        </app-form-input>
                                                                    </div>

                                                                    <div class="list-tile-item">
                                                                        <app-form-input [label]="'Phone'" [id]="'phone'"
                                                                            [value]="item.phone"
                                                                            (onClose)="updateVendor($event,item.id)">
                                                                        </app-form-input>
                                                                    </div>
                                                                    <div class="list-tile-item">
                                                                        <app-form-input [label]="'Adress'"
                                                                            [id]="'address'" [value]="item.address"
                                                                            (onClose)="updateVendor($event,item.id)">
                                                                        </app-form-input>
                                                                    </div>






                                                                </div>


                                                                <div class="list-tile-container">


                                                                    <div class="list-tile-item">
                                                                        <app-form-input [type]="'number'"
                                                                            [label]="'Hired'" [id]="'hired'"
                                                                            [value]="item.hired"
                                                                            (onClose)="updateVendor($event,item.id)">
                                                                        </app-form-input>
                                                                    </div>
                                                                    <div class="list-tile-item">
                                                                        <app-form-input [label]="'Social Media'"
                                                                            [id]="'social_media'"
                                                                            [value]="item.social_media"
                                                                            (onClose)="updateVendor($event,item.id)">
                                                                        </app-form-input>
                                                                    </div>



                                                                </div>
                                                            </div>




                                                        </div>





                                                    </div>

                                                    <div
                                                        class="callout padding-center medium-grey-bg rounded margin-bottom-1">
                                                        <div class="flex-container align-center">
                                                            <div class="flex-item flex-1">
                                                                <h3>Contact</h3>
                                                            </div>
                                                            <div class="flex-item flex-1 text-right">
                                                                <button (click)="createContact(item)"
                                                                    class="button small clear">+
                                                                    Add</button>

                                                            </div>
                                                        </div>

                                                        <div class="list-tile-container">
                                                            <div *ngFor="let item of item.contact"
                                                                class="callout padding-center-1 rounded border margin-bottom-1">
                                                                <div class="large-text margin-bottom-05">
                                                                    <fa-icon [icon]="faAddressBook"></fa-icon>
                                                                    {{item.name | titlecase}}
                                                                    <span class="span-label mega">
                                                                        {{item.position}}</span>
                                                                </div>

                                                                <div
                                                                    class="flex-container align-center margin-bottom-05 large-text">
                                                                    <div class="flex-item flex-1 margin-right-05">
                                                                        <app-form-input [isHideAction]="true"
                                                                            [label]="'Mobile'" [id]="'mobile'"
                                                                            [value]="item.mobile"
                                                                            (onClose)="updateContact(item.id,$event)">
                                                                        </app-form-input>


                                                                    </div>
                                                                    <div class="flex-item flex-1 margin-right-05">





                                                                        <app-form-input [isHideAction]="true"
                                                                            [label]="'Work'" [id]="'work'"
                                                                            [value]="item.work"
                                                                            (onClose)="updateContact(item.id,$event)">
                                                                        </app-form-input>

                                                                    </div>

                                                                </div>

                                                                <app-form-input [isHideAction]="true" [label]="'Email'"
                                                                    [id]="'email'" [value]="item.email"
                                                                    (onClose)="updateContact(item.id,$event)">
                                                                </app-form-input>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                            <div class="flex-item flex-2">
                                                <div class="callout padding-center">
                                                    <div class="flex-container margin-bottom-05">
                                                        <div class="flex-item flex-1">
                                                            <h3>Product</h3>
                                                        </div>
                                                        <div class="flex-item text-right">
                                                            <button (click)="addVendorProduct(item)"
                                                                class="button tiny white">+ Product</button>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="item.product.length !== 0">
                                                        <div class="table-header">
                                                            <div class="flex-container table-header-item">


                                                                <div class="flex-item flex-2">
                                                                    Product Name

                                                                </div>

                                                                <div class="flex-item flex-1">
                                                                    Category
                                                                </div>


                                                                <div class="flex-item flex-1">
                                                                    Price
                                                                </div>
                                                                <div class="flex-item flex-05">
                                                                    Stock
                                                                </div>



















                                                            </div>
                                                        </div>
                                                        <div class="table-body">
                                                            <div [ngClass]="{'long-fade-in': item.isNew}"
                                                                *ngFor="let item of item.product"
                                                                class="flex-container border table-body-item">


                                                                <div class="flex-item flex-2">
                                                                    <app-form-input [isHideLabel]="true"
                                                                        [isHideAction]="true" [label]="'Name'"
                                                                        [id]="'name'" [value]="item.name"
                                                                        (onClose)="updateProduct($event,item.id)">
                                                                    </app-form-input>
                                                                    <div class="tiny-text color-grey"> Last Update
                                                                        {{item.updated_at | date}}</div>
                                                                </div>



                                                                <div class="flex-item flex-1">
                                                                    <app-form-select
                                                                        [selected_option]="item.category?.name"
                                                                        (onSelect)="updateProduct($event,item.id)"
                                                                        (onSearch)="searchCategory($event)"
                                                                        [option]="category_option"
                                                                        [label]="item.category?.name"></app-form-select>
                                                                </div>


                                                                <div class="flex-item flex-1">
                                                                    <app-form-input type="currency" [isHideLabel]="true"
                                                                        [isHideAction]="true" [label]="'Price'"
                                                                        [id]="'price'" [value]="item.price"
                                                                        (onClose)="updateProduct($event,item.id)">
                                                                    </app-form-input>
                                                                </div>

                                                                <div class="flex-item flex-05">


                                                                    <app-form-input [isHideLabel]="true"
                                                                        [isHideAction]="true" [label]="'Stock'"
                                                                        [id]="'stock'" [value]="item.stock"
                                                                        (onClose)="updateProduct($event,item.id)">
                                                                    </app-form-input>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>


                                                    <app-placeholder *ngIf="item.product.length === 0">
                                                    </app-placeholder>






                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <app-placeholder *ngIf="vendor.length === 0"></app-placeholder>

                </div>



            </div>

            <div *ngIf="tab_view == 'product'">
                <div *ngIf="product" class="fade-in">
                    <div *ngIf="product.length !== 0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-2">
                                    Name
                                </div>


                                <div class="flex-item flex-1">
                                    Category
                                </div>

                                <div class="flex-item flex-1">
                                    Vendor
                                </div>



                                <div class="flex-item flex-1">
                                    Stock
                                </div>

                                <div class="flex-item flex-1">
                                    Price
                                </div>


                                <div class="flex-item flex-1">
                                    Last Update
                                </div>













                            </div>
                        </div>
                        <div class="table-body ">
                            <div *ngFor="let item of product" class="flex-container  table-body-item align-center">


                                <div class="flex-item flex-2">

                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                        [id]="'name'" [value]="item.name" (onClose)="updateProduct($event,item.id)">
                                    </app-form-input>

                                </div>


                                <div class="flex-item flex-1">
                                    {{item.category?.name}}
                                </div>



                                <div class="flex-item flex-1">
                                    {{item.vendor.name}}
                                </div>





                                <div class="flex-item flex-1">
                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Stock'"
                                        [id]="'stock'" [value]="item.stock" (onClose)="updateProduct($event,item.id)">
                                    </app-form-input>
                                </div>

                                <div class="flex-item flex-1">
                                    <app-form-input [type]="'number'" [isHideLabel]="true" [isHideAction]="true"
                                        [label]="'Price'" [id]="'price'" [value]="item.price"
                                        (onClose)="updateProduct($event,item.id)"></app-form-input>
                                </div>



                                <div class="flex-item flex-1">
                                    {{item.updated_at | date}}
                                </div>

                            </div>


                        </div>
                    </div>

                    <app-placeholder *ngIf="product.length === 0"></app-placeholder>
                </div>
            </div>

            <div *ngIf="tab_view =='category'">
                <button (click)="addVendorProductCategory()" class="button tiny white">+ Category</button>

                <div *ngIf="category" class="fade-in">
                    <app-placeholder *ngIf="category.length === 0"></app-placeholder>
                    <div *ngIf="category.length !==0">
                        <div class="table-header">
                            <div class="flex-container table-header-item">


                                <div class="flex-item flex-1">
                                    Name
                                </div>


                                <div class="flex-item flex-1">
                                    Description
                                </div>
                                <div class="flex-item flex-05 text-right">

                                </div>

                            </div>
                        </div>
                        <div class="table-body">
                            <div *ngFor="let item of category" class="flex-container table-body-item">


                                <div class="flex-item flex-1">
                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                        [id]="'name'" [value]="item.name"
                                        (onClose)="updateVendorProductCategory($event,item.id)">
                                    </app-form-input>
                                </div>


                                <div class="flex-item flex-1">
                                    <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Description'"
                                        [id]="'description'" [value]="item.description"
                                        (onClose)="updateVendorProductCategory($event,item.id)">
                                    </app-form-input>
                                </div>
                                <div class="flex-item flex-05 text-right">
                                    <app-remove-button (onClick)="deleteVendorProductCategory(item)">
                                        <button class="button tiny clear active">Delete</button>
                                    </app-remove-button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

    <app-modal *ngIf="showModal == 'vendorModal'" (onClose)="closeModal()" [title]="'Add Vendor'">
        <form class="form" [formGroup]="vendorForm">
            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">


            <label for="">Category</label>
            <div class="input">
                <app-form-select (onSelect)="selectCategory($event)" (onSearch)="searchCategory($event)"
                    [option]="category_option" [label]="'category'"></app-form-select>


            </div>
            <label for="">Phone</label>
            <input formControlName="phone" type="number" name="" id="">

            <label for="">Website</label>
            <input formControlName="website" type="text" name="" id="">

            <button [disabled]="!vendorForm.valid" (click)="addVendor()" class="button expanded">Add Vendor</button>
        </form>

    </app-modal>

    <app-modal (onClose)="closeModal()" *ngIf="showModal == 'addProductModal'" (onClose)="closeModal()"
        [title]="'Add Product'">
        <div class="margin-bottom-05"> {{selected_vendor.name}}</div>
        <form class="form" [formGroup]="productForm">
            <label for="">Name</label>
            <input formControlName="name" type="text" name="" id="">

            <label for="">Category</label>
            <div class="input">
                <app-form-select (onSelect)="selectCategory($event)" (onSearch)="searchCategory($event)"
                    [option]="category_option" [label]="'category'"></app-form-select>


            </div>



            <label for="">Price</label>
            <input formControlName="price" type="number" name="" id="">

            <label for="">stock</label>
            <input formControlName="stock" type="text" name="" id="">

            <button [disabled]="!productForm.valid" (click)="addVendorProduct()" class="button expanded">Add
                Product</button>
        </form>

    </app-modal>

    <app-modal *ngIf="showModal=='addContactModal'" [title]="'Add Contact'">


        <form class="form margin-bottom-1" [formGroup]="contactForm">


            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Name</label>
                    <input formControlName="name" type="text" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Position</label>
                    <input formControlName="position" type="text" name="" id="">


                </div>
            </div>


            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Mobile</label>
                    <input formControlName="mobile" type="number" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Work</label>
                    <input formControlName="work" type="number" name="" id="">


                </div>
            </div>



        </form>
        <button (click)="addContact()" class="button expanded">Add Contact</button>
    </app-modal>

</app-body>