<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table"
            style="overflow: hidden;">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Contract</h1>

                    </div>
                    <div class="flex-item flex-1">


                    </div>

                </div>
            </div>

            <app-table-action></app-table-action>
            <div *ngIf="contract" class="fade-in">

                <div *ngIf="contract.length !==0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-1">
                                Contract ID
                            </div>

                            <div class="flex-item flex-1">
                                Create Date
                            </div>

                            <div class="flex-item flex-1">
                                Creator
                            </div>

                            <div class="flex-item flex-1">
                                Campaign
                            </div>








                            <div class="flex-item flex-1">
                                Total Budget
                            </div>





                            <div class="flex-item flex-1">
                                Status
                            </div>
                            <div class="flex-item flex-1">
                                Payment 
                            </div>
                            <div class="flex-item" style="width: 10px;">

                            </div>

                        </div>
                    </div>

                    <div class="table-body">
                        <div *ngFor="let item of contract">
                            <div class="flex-container table-body-item">


                                <div class="flex-item flex-1">
                                    #{{item.id}}
                                </div>

                                <div class="flex-item flex-1">
                                    {{item.created_at | date}}
                                </div>


                                <div class="flex-item flex-1">
                                    <div>
                                        {{item.creator.first_name}} {{item.creator.last_name}}
                                    </div>

                                </div>

                                <div class="flex-item flex-1">

                                    <div>
                                        {{item.campaign.campaign_name}}
                                    </div>
                                </div>








                                <div class="flex-item flex-1">
                                    {{item.budget + item.gross_up | currency : 'IDR'}}
                                </div>







                                <div class="flex-item flex-1">
                                    <app-status-label [disabled]="item.invoice_number" [label]="item.status"
                                        [option]="contract_status" (onSelect)="updateContract($event,item.id)">
                                    </app-status-label>

                                </div>
                                <div class="flex-item flex-1">
                                   

                                    <app-status-label [label]="item.invoice_number?'Paid':'UnPaid'"></app-status-label>

                                </div>
                                <div (click)="toggleShow(item)" class="flex-item cursor text-right"
                                    style="width: 10px;">
                                    <fa-icon [icon]="faChevronDown"></fa-icon>
                                </div>

                            </div>
                            <div *ngIf="item.show"
                                class="callout padding-center rounded medium-grey-bg margin-bottom-1">

                                <div class="row medium-up-3">
                                    <div class="columns">
                                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                                            style="min-height: 35vh;">
                                            <h3 class="margin-bottom-1">Campaign Information</h3>

                                            <div class="list-tile-container">
                                                <div class="list-tile-item">
                                                    <div class="flex-container">
                                                        <div class="flex-1">
                                                            Name
                                                        </div>
                                                        <div class="flex-1 text-right">
                                                            {{item.campaign.campaign_name}}
                                                            <div class="color-grey">
                                                                {{item.campaign.start_date | date}}
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-tile-item">
                                                    <div class="flex-container">
                                                        <div class="flex-1">
                                                            Creator
                                                        </div>
                                                        <div class="flex-1 text-right">
                                                            <div class="flex-container align-center">
                                                                <div class="flex-item flex-1 margin-right-05">
                                                                    <div>
                                                                        {{item.creator.first_name}}
                                                                        {{item.creator.last_name}}
                                                                    </div>


                                                                </div>
                                                                <div class="flex-item  ">
                                                                    <div class="avatar-container">
                                                                        <img *ngIf="item.creator.profile_photo_url"
                                                                            class="avatar-image"
                                                                            [src]="item.profile_photo_url" alt="">

                                                                        <div *ngIf="!item.creator.profile_photo_url"
                                                                            class="avatar-placeholder">
                                                                            {{ getPlaceholderName(item.creator)}}
                                                                        </div>
                                                                    </div>





                                                                </div>



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-tile-item">
                                                    <div class="flex-container">
                                                        <div class="flex-1">
                                                            Client
                                                        </div>
                                                        <div class="flex-1 text-right">
                                                            {{item.client?.client_name}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                    <div class="columns">
                                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                                            style="min-height: 35vh;">
                                            <h3 class="margin-bottom-1">Contract Information</h3>

                                            <div class="list-tile-container">
                                                <div class="list-tile-item">
                                                    <div class="flex-container">
                                                        <div class="flex-1">
                                                            Legal Doc
                                                        </div>
                                                        <div class="flex-1 text-right">
                                                            <button class="tiny clear white">Upload <fa-icon
                                                                    [icon]="faUpload"></fa-icon> </button>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="list-tile-item">
                                                    <app-form-input [type]="'number'" [label]="'Custom Contract ID'"
                                                        [value]="item.custom_contract_id" [id]="'custom_contract_id'"
                                                        (onClose)="updateContract($event,item.id)"></app-form-input>
                                                </div>
                                                <div class="list-tile-item">
                                                    <app-form-input [disabled]="item.invoice_number" [type]="'number'"
                                                        [label]="'Invoice Number'" [value]="item.invoice_number"
                                                        [id]="'invoice_number'"
                                                        (onClose)="updateContract($event,item.id)">
                                                    </app-form-input>
                                                </div>
                                                <div class="list-tile-item">
                                                    <app-form-input [type]="'number'" [label]="'Term of Payment'"
                                                        [value]="item.term_of_payment" [id]="'term_of_payment'"
                                                        (onClose)="updateContract($event,item.id)"></app-form-input>
                                                </div>

                                                <div class="list-tile-item">
                                                    <app-form-input [type]="'number'" [label]="'Budget'"
                                                        [value]="item.budget" [id]="'budget'"
                                                        (onClose)="updateContract($event,item.id)"></app-form-input>
                                                </div>

                                                <div class="list-tile-item">
                                                    <app-form-input [type]="'number'" [label]="'Gross Up'"
                                                        [value]="item.gross_up" [id]="'gross_up'"
                                                        (onClose)="updateContract($event,item.id)"></app-form-input>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="columns">
                                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                                            style="min-height: 35vh;max-height: 35vh;overflow: auto;">
                                            <h3 class="margin-bottom-1">Scope of Work</h3>

                                            <div class="list-tile-container">
                                                <div *ngFor="let item of item.scope"
                                                    class="list-tile-item flex-container">
                                                    <div class="flex-item flex-05">
                                                        {{item.platform_name}}
                                                    </div>
                                                    <div class="flex-item flex-1">
                                                        {{item.name}}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <app-placeholder *ngIf="contract.length === 0"></app-placeholder>


            </div>





        </div>

    </div>

    <app-modal *ngIf="showModal == 'sowModal'" (onClose)="closeModal()" [title]="'Scope of Work'">
        dasda
    </app-modal>
    <app-modal *ngIf="showModal == 'creatorModal'" (onClose)="closeModal()" [title]="'Creator'">
        dasda
    </app-modal>
    <app-modal *ngIf="showModal == 'campaignModal'" (onClose)="closeModal()" [title]="'Campaign'">
        dasda
    </app-modal>
    <app-modal *ngIf="showModal == 'uploadDocModal'" (onClose)="closeModal()" [title]="'Upload Doc'">
        dasda
    </app-modal>
</app-body>