
.status-label {
    position: relative;
    border-radius: 25px;
    border: 1px solid #29292947 !important;
    text-align: center;
    display: inline-block;
    line-height: 1.5;
    padding: 5px 1rem;
    font-size: 14px;
    background: #29292947 !important;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
    .icon-container{
     
      .icon {
        line-height: 1.5;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background: #cccccc !important;
      }
    }
  
  
    .action {
      // position: absolute;
      // right: 2px;
      border-left: 1px solid #cccccc !important;
      padding-left: 7px;
      margin-left:7px;
      margin-right: 0 !important;
  
      
    }
  
    .status-menu {
      position: absolute;
      border: 1px solid rgba(119, 119, 119, 0.189) !important;
      bottom: 1;
      background: #333333;
      padding: 0.5rem;
      margin-top: 7px;
      left: 0;
      
      width: auto;
      min-width: 100%;
      border-radius: 10px;
      z-index:9999;
  
      a {
        font-size: 12px;
        color: #cccccc;
        text-align: left !important;
        padding: 0.5rem;
        display: block;
        
        border-radius: 3px;
        margin: 0;
  
        &:hover {
          background: #29292947 !important;
        }
      }
  
    }
  
    cursor: pointer;
  
    &.confirm {
      background: #7634ee !important;
      ;
    }
  
    &.cancel {
      background: #ff981f !important;
      ;
    }
    &.not-signed,&.introductori_meeting,&.in_service,&.interviewed,&.medium{
      background: #ff981f !important;
      ;
    }
    &.signed,&.proposal_sent,&.contract_sent,&.on_board,&.in_use,&.active,&.on_going,&.on_process {
      background: #7634ee !important;
      ;
    }
    &.draft,&.off_board,&.expired,&.sold,&.in_storage,&.in_active,&.complete,&.low {
      background: #928f8c !important;
      ;
    }
    
    &.terminated,&.rejected{
      background: #961616 !important;
      ;
    }
    &.bad,&.lost,&.missing {
      background: #961616 !important;
      ;
    }
  
  
    &.good,&.candidates,&.redeem {
      border: 2px solid #7634ee !important;
      ;
    }
  
    &.best,&.reward_sent {
      background: #7634ee !important;
      ;
    }

    &.onboard {
      background: #7634ee !important;
      ;
    }
  
    &.excelent,&.won,&.high {
      background: #ad1fff !important;
      ;
    }
  
  
  
  }
  