<app-body [hideNav]="true">
    <div class="page-container">
        <div class="row">
            <div class="medium-8 columns">
                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">


                    <div class="flex-container align-center">
                        <div class="flex-item flex flex-1 margin-right-1">
                            <img style="width: 130px;height: 130px;" class="avatar-image"
                                src="https://asset-2.tstatic.net/jambi/foto/bank/images/0011-Anya-Geraldine.jpg" alt="">
                        </div>
                        <div class="flex-item flex-3">
                            <h2>Congratulation Anya!</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                                Lorem Ipsum ha</p>
                        </div>
                        <div class="flex-item flex text-center">
                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">3000</h1>
                                <div class="large-text color-grey">Points</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- TABLE SAMPLE -->

                <div class="callout padding-center rounded medium-grey-bg elevate form margin-bottom-1 table"
                    style="min-height: 35vh;">

                    <div class="title-container">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">
                                <h3>Points & Reward</h3>

                            </div>
                            <div class="flex-item flex-1">
                                <!-- <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                              

                            </ul>
                        </div> -->

                            </div>

                        </div>
                    </div>


                    <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


                    <div class="">
                        <div class="table-header">
                            <div class="flex-container table-header-item">



                                <div class="flex-item flex-2">
                                    Activity
                                </div>
                                <div class="flex-item flex-1">
                                    Activity Date
                                </div>


                                <div class="flex-item flex-1">
                                    Type
                                </div>

                                <div class="flex-item flex-1">
                                    Value
                                </div>

                                <div class="flex-item flex-1">
                                    Create By
                                </div>

                            </div>
                        </div>
                        <div class="table-body ">
                            <div class="flex-container cursor table-body-item align-center">




                                <div class="flex-item flex-2">
                                    Activity
                                </div>
                                <div class="flex-item flex-1">
                                    Create Date
                                </div>


                                <div class="flex-item flex-1">
                                    Collect
                                </div>

                                <div class="flex-item flex-1">
                                    + 100 Points
                                </div>

                                <div class="flex-item flex-1">
                                    Create By
                                </div>



                            </div>

                        </div>

                    </div>














                </div>

                <div class="row margin-bottom-1">
                    <div class="medium-6 columns">
                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 25vh;">
                            <h3 class="margin-bottom-1">Inbox</h3>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                            Hi, please confirm this
                                        </div>
                                        <div class="small-text color-grey">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                        </div>
                                    </div>
                                    <div class="flex-item color-grey">
                                        <fa-icon [icon]="faChevronRight"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                            Hi, please confirm this
                                        </div>
                                        <div class="small-text color-grey">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                        </div>
                                    </div>
                                    <div class="flex-item color-grey">
                                        <fa-icon [icon]="faChevronRight"></fa-icon>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 25vh;">
                            <h3 class="margin-bottom-1">Notification</h3>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                            Notif Notif
                                        </div>
                                        <div class="small-text color-grey">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                        </div>
                                    </div>
                                    <div class="flex-item color-grey">
                                        <fa-icon [icon]="faChevronRight"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                            Notif Notif
                                        </div>
                                        <div class="small-text color-grey">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                        </div>
                                    </div>
                                    <div class="flex-item color-grey">
                                        <fa-icon [icon]="faChevronRight"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="medium-4 columns">
                <div class="">
                    <h2 class="">Campaign</h2>
                    <app-tab-menu [tab_menu_list]="tab_menu_list_campaign"></app-tab-menu>
                    <div *ngFor="let item of [].constructor(3)" class="callout padding-center-1 rounded medium-grey-bg margin-bottom-1">
                        <div class="info-container margin-bottom-1">
                            <div class="huge-text">
                                Valentince Thematic Post! Collab with Silverqueen
                            </div>
                            <div class="large-text color-grey margin-bottom-1">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                            </div>

                            <button class=" button rounded small clear hollow active"
                                style="background-color: #ad1fff52 !important;">Join Campaign</button>

                        </div>

                        <div class="flex-container align-center small-text color-grey">
                            <div class="flex-item flex-1 margin-right-05">
                                <div class="flex-container align-center">
                                    <div class="flex-item margin-right-02">
                                        <img style="width: 30px;height: 30px; border: 2px solid #ccc !important"
                                            class="avatar-image"
                                            src="https://asset-2.tstatic.net/jambi/foto/bank/images/0011-Anya-Geraldine.jpg"
                                            alt="">
                                    </div>
                                    <div class="flex-item margin-right-02" style="margin-left: -15px;">
                                        <img style="width: 30px;height: 30px; border: 2px solid #ccc !important"
                                            class="avatar-image"
                                            src="https://asset-2.tstatic.net/jambi/foto/bank/images/0011-Anya-Geraldine.jpg"
                                            alt="">
                                    </div>
                                    <div class="flex-item margin-right-02" style="margin-left: -15px;">
                                        <img style="width: 30px;height: 30px; border: 2px solid #ccc !important"
                                            class="avatar-image"
                                            src="https://asset-2.tstatic.net/jambi/foto/bank/images/0011-Anya-Geraldine.jpg"
                                            alt="">
                                    </div>

                                    <div class="flex-item">
                                        +30 Participan
                                    </div>


                                </div>
                            </div>
                            <div class="flex-item margin-right-1">
                                <fa-icon [icon]="faCoins"></fa-icon> 3000 Points
                            </div>
                            <div class="flex-item">
                                <fa-icon [icon]="faCalendar"></fa-icon> 3 Jan 2024
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>

</app-body>