<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Employee</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addEmployeeModal')"
                                        class="button rounded  clear active">+ Add Employee</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <app-table-action></app-table-action>

            <div *ngIf="employee" class="fade-in">
                <div *ngIf="employee.length !== 0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">
    
    
                            <div class="flex-item flex-1">
                                Name
                            </div>
    
    
    
    
    
                            <div class="flex-item flex-1">
                                Experience
                            </div>
    
                            <div class="flex-item flex-1">
                                Education
                            </div>
    
                            <div class="flex-item flex-1">
                                Performance
                            </div>
    
    
    
    
    
                            <div class="flex-item flex-1">
                                Status
                            </div>
    
    
    
    
                        </div>
                    </div>
                    <div class="table-body ">
                        <div *ngFor="let item of employee"
                            class="flex-container table-body-item align-center">
    
    
    
    
                            <div  (click)="_navigateTo(item.id)"  class="flex-item flex-1 cursor">
                                <div class="flex-container align-center">
                                    <div class="flex-item margin-right-05">
                                        <div class="avatar-container" style="width: 60px;height: 60px;">
                                            <img style="width: 60px;height: 60px;" *ngIf="item.profile_photo_url"
                                                class="avatar-image" [src]="item.profile_photo_url" alt="">
    
                                            <div *ngIf="!item.profile_photo_url"
                                                style="width: 60px;height: 60px;line-height: 60px;"
                                                class="avatar-placeholder">
                                                {{ getPlaceholderName(item)}}
                                            </div>
                                        </div> 
    
    
    
    
    
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div>
                                            {{item.first_name | titlecase}} {{item.last_name | titlecase}}
                                        </div>
    
    
                                        <div class="color-grey">
                                           {{item.age}}, {{item.location | titlecase}}
                                        </div>
                                    </div>
    
    
                                </div>
    
                            </div>
    
    
    
    
    
                            <div class="flex-item flex-1">
                                <div *ngIf="item.experience">
                                    <fa-icon [icon]="faBriefcase"></fa-icon> {{item.experience[0]?.industry | titlecase}} ,
                                    {{item.experience[0]?.position}}
                                    <div class="color-grey">{{item.experience[0]?.experience_time}}</div>
                                </div>
                                
    
                            </div>
    
                            <div class="flex-item flex-1">
                                <div *ngIf="item.education">
                                    <fa-icon [icon]="faGraduationCap"></fa-icon> {{item.education[0]?.education_level | titlecase}},
                                    {{item.education[0]?.major | titlecase}}
                                    <div class="color-grey"> {{item.education[0]?.education_name}}</div>
                                </div>
                                
    
                            </div>
    
                            <div class="flex-item flex-1">
                               
                                <app-status-label [label]="item.total_performance"></app-status-label>
                            </div>
    
    
    
    
    
                            <div class="flex-item flex-1">
                             
                                <app-status-label [label]="item.status" [option]="employee_status"   (onSelect)="updateEmployee($event,item.id)"></app-status-label>
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
                 
                <app-placeholder *ngIf="employee.length === 0"></app-placeholder>

            </div>








        </div>

    </div>
    <app-modal title="Add Employee" (onClose)="closeModal()" *ngIf="showModal == 'addEmployeeModal'">

        <form class="form margin-bottom-1" [formGroup]="employeForm">


            <label for="">First Name</label>
            <input formControlName="first_name" type="text" name="" id="">

            <label for="">Last Name</label>
            <input formControlName="last_name" type="text" name="" id="">

           

            <label for="">Domicile</label>
            <input formControlName="location" type="text" name="" id="">

            <label for="">Day of Birth</label>
            <input formControlName="dob" type="date" name="" id="">

            <label for="">Phone</label>
            <input formControlName="phone" type="number" name="" id="">

            <label for="">Email</label>
            <input formControlName="email" type="email" name="" id="">

        </form>
        <button [disabled]="!employeForm.valid" (click)="addEmployee(false)" class="button expanded">Add Employee</button>
        <button [disabled]="!employeForm.valid" (click)="addEmployee(true)" class="button expanded">Add Employee & Continue Edit</button>
    </app-modal>

</app-body>