<div class="progress-container ">
    <div class="progress-goal"></div>
    <div [style.left]="value+'%'" class="progress-value color-grey">{{value}} {{label}}</div>
    <div [style.width]="value+'%'" class="progress-content"></div>
</div>