<app-body [hideNav]="true">
    <div *ngIf="campaign" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/community/campaign/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Campaign
                    </a>
                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">

                        <div class="flex-item flex-2">
                          
                          <div class="margin-bottom-1">
                            <app-form-input [isHideAction]="true" [isHideLabel]="true" class="h1"  [label]="'Description'" [value]="campaign.campaign_name"
                            [id]="'campaign_name'" (onClose)="updateCommunityCampaign($event)"></app-form-input>

                            <app-form-input [isHideAction]="true" [isHideLabel]="true"  [label]="'Description'" [value]="campaign.description"
                            [id]="'description'" (onClose)="updateCommunityCampaign($event)"></app-form-input>
                          </div>


                            <div class="row medium-up-4">

                                <div class="columns">
                                    <div class="small-text color-grey">Total Participant</div>

                                  
                                    <div>{{campaign.total_participant}}   <span class="span-label Macro" *ngIf="campaign.total_participant > campaign.quota">Quota Overlimit</span></div>


                                </div>

                                
                                <div class="columns">
                                    <app-form-input [isHideAction]="true" [type]="'number'"  [label]="'Quota'" [value]="campaign.quota"
                                            [id]="'quota'" (onClose)="updateCommunityCampaign($event)"></app-form-input>

                                          

                                </div>

                                
                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>

                                    <app-status-label [label]="campaign.status" [option]="campaign_status"
                                        (onSelect)="updateCommunityCampaign($event)"></app-status-label>


                                </div>

                            </div>

                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Campaign Details</h3>

                            
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input  [label]="'Client'" [value]="campaign.client"
                                    [id]="'client'" (onClose)="updateCommunityCampaign($event)"></app-form-input>
                            </div>

                        

                            
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input  [type]="'date'" [label]="'Start Date'" [value]="campaign.start_date"
                                    [id]="'start_date'" (onClose)="updateCommunityCampaign($event)"></app-form-input>
                            </div>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input  [type]="'date'" [label]="'Start Date'" [value]="campaign.end_date"
                                    [id]="'end_date'" (onClose)="updateCommunityCampaign($event)"></app-form-input>
                            </div>







                        </div>




                    </div>

                    <div class="medium-8 columns">

                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <div class="flex-container align-center margin-bottom-1">
                                <div class="flex-item flex-1">
                                    <h3 class="margin-bottom-0">Participant</h3>

                                </div>
                                <div class="flex-item text-right">
                                    <button [disabled]="campaign.status !=='on_going'" (click)="openModal('addParticipantModal')"
                                        class="button small clear margin-bottom-0 active">+
                                        Add Participant</button>
                                </div>
                            </div>

                            <div class="table-body">
                                <div *ngFor="let item of campaign.participant" class="table-body-item border flex-container align-center">
                                    <div class="flex-1">
                                        {{item.member?.first_name}}   {{item.member?.last_name}}
                                        <div class="color-grey">{{item.member?.location}}</div>
                                    </div>
                                    <div class="flex-1">
                                        {{item.member?.instagram_account}}
                                        <div class="color-grey">{{item.member?.instagram_follower}} Followers</div>
                                    </div>

                                    <div class="flex-1">
                                   
                                      <app-status-label [label]="item.status" [option]="participant_status" (onSelect)="updateCommunityCampaignMember($event,item.id)"></app-status-label>
                                    </div>

                                    <div class="flex-1 text-right">
                                   
                                        <button *ngIf="item.status == 'approve'" [disabled]="item.reward_redeem_id" (click)="addMemberReward(item)" class="button tiny white margin-bottom-0">{{item.reward_redeem_id?'Reward Added': 'Add Reward'}}</button>
                                      </div>
                                </div>
                            </div>



                        </div>



                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <div class="callout padding-center">
                        <h3 class="margin-bottom-1">Note</h3>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <app-modal *ngIf="showModal == 'addParticipantModal'" (onClose)="closeModal()" [title]="'Add Participant'">
        <app-form-search (onSearch)="getMember($event)"></app-form-search>
        <div *ngIf="member" class="table-body ">



            <div *ngFor="let item of member" class="flex-container table-body-item align-center">



                <div class="flex-item flex-2 cursor">


                    <div class="flex-container align-center">
                        <div class="flex-item margin-right-05">
                            <div class="avatar-container" style="width: 60px;height: 60px;">
                                <img style="width: 60px;height: 60px;" *ngIf="item.profile_photo_url"
                                    class="avatar-image" [src]="item.profile_photo_url" alt="">

                                <div *ngIf="!item.profile_photo_url" style="width: 60px;height: 60px;line-height: 60px;"
                                    class="avatar-placeholder">
                                    {{ getPlaceholderName(item)}}
                                </div>
                            </div>



                        </div>
                        <div class="flex-item flex-1">
                            <div>
                                {{item.first_name}} {{item.last_name}} 
                                <div>
                                    {{item.instagram_account}}
                                </div>
                            </div>
                       

                       
                        </div>

                    </div>
                </div>




                <div class="flex-item text-right">

                    <button [disabled]="item.isAdded" (click)="addToCampaign(item)" class="button  tiny clear">
                        {{item.isAdded?'Added!':'+ Add'}}

                    </button>

                
                </div>


            </div>

        </div>

    </app-modal>

</app-body>