<app-body [hideNav]="true">
    <div *ngIf="employee" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/channel/employee/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Employee
                    </a>
                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">
                        <div class="flex-item  margin-right-2">
                            <img style="width: 130px;height: 130px;" class="avatar-image"
                                src="https://placehold.co/200x200" alt="">

                            <!-- <div style="width: 130px;height: 130px;" *ngIf="!creator.profile_photo_url"
                                class="avatar-placeholder">
                                {{ getPlaceholderName(creator)}}
                            </div> -->

                        </div>
                        <div class="flex-item flex-2">
                            <h1>{{employee.first_name}} {{employee.last_name}}</h1>


                            <div class="row medium-up-4">
                                <div class="columns">

                                    <app-form-input class="huge-text" [isHideAction]="true" [type]="'date'" [label]="'Join Date'"
                                        [value]="employee.join_date" [id]="'join_date'"
                                        (onClose)="updateEmployee($event)"></app-form-input>
                                </div>
                                <div class="columns">

                                    <app-form-input class="huge-text" [isHideAction]="true" [label]="'Position'"
                                        [value]="employee.position" [id]="'position'"
                                        (onClose)="updateEmployee($event)"></app-form-input>
                                </div>
                                <div class="columns">
                                    <div class="large-text color-grey">Age</div>
                                 <div class="huge-text">
                                     {{employee.age}}
                                 </div>
                                </div>
                                <div class="columns">
                                    <div class="small-text color-grey">Status</div>

                                    <app-status-label [label]="employee.status" [option]="employee_status"
                                        (onSelect)="updateEmployee($event)"></app-status-label>


                                </div>

                            </div>

                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Personal Information</h3>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input  [type]="'date'" [label]="'Day of Birth'" [value]="employee.dob"
                                    [id]="'dob'" (onClose)="updateEmployee($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Marital Status'" [value]="employee.marital_status"
                                    [id]="'marital_status'" (onClose)="updateEmployee($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Email'" [value]="employee.email" [id]="'email'"
                                    (onClose)="updateEmployee($event)"></app-form-input>
                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'number'" [label]="'Phone'" [value]="employee.phone"
                                    [id]="'phone'" (onClose)="updateEmployee($event)"></app-form-input>
                            </div>



                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Address'" [value]="employee.address" [id]="'address'"
                                    (onClose)="updateEmployee($event)"></app-form-input>
                            </div>




                        </div>

                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Legal Document</h3>
                            <div class="list-tile-container">
                                <div class="list-tile-item">
                                    <app-form-input [type]="'currency'" [label]="'Salary'"
                                        [value]="employee.salary_value" [id]="'salary_value'"
                                        (onClose)="updateEmployee($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'KTP'" [value]="employee.ktp"
                                        [id]="'ktp'" (onClose)="updateEmployee($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'NPWP'" [value]="employee.npwp"
                                        [id]="'npwp'" (onClose)="updateEmployee($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [label]="'Bank'" [value]="employee.bank_account"
                                        [id]="'bank_account'" (onClose)="updateEmployee($event)"></app-form-input>
                                </div>

                                <div class="list-tile-item">
                                    <app-form-input [type]="'number'" [label]="'BPJS'" [value]="employee.bpjs"
                                        [id]="'bpjs'" (onClose)="updateEmployee($event)"></app-form-input>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="medium-8 columns">

                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <div class="flex-container align-center margin-bottom-1">
                                <div class="flex-item flex-1">
                                    <h3 class="margin-bottom-0">Performance</h3>

                                </div>
                                <!-- <div class="flex-item text-right">
                                    <button (click)="openModal('addPerformanceModal')"
                                        class="button small clear margin-bottom-0 active">+
                                        Add</button>
                                </div> -->
                            </div>

                            <div *ngIf="employee.performance.length == 0" class="padding-center text-center">
                                <button (click)="generatePerformance()" class="button clear active">Generate
                                    Performance</button>

                            </div>
                          

                            <div *ngIf="employee.performance.length > 1">
                                <div *ngFor="let item of employee.performance">
                                    <div class="padding-bottom-05 margin-bottom-05  form-mini">
                                        <app-form-input [placeholder]="'Score 0 - 100'" [isProgress]="true"
                                            [type]="'number'" [label]="item.performance_name"
                                            [value]="item.performance_score" [id]="item.id"
                                            (onClose)="updateEmployeePerformance($event)"></app-form-input>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="flex-container">
                            <div class="flex-item flex-1 margin-right-2">
                                <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                                    style="min-height: 35vh;">

                                    <div class="flex-container align-center margin-bottom-1">
                                        <div class="flex-item flex-1">
                                            <h3 class="margin-bottom-0">Education</h3>



                                        </div>
                                        <div class="flex-item text-right">
                                            <button (click)="openModal('addEducationModal')"
                                                class="button small clear margin-bottom-0 active">+
                                                Add</button>
                                        </div>
                                    </div>

                                    <div class="list-tile-container">
                                        <div *ngFor="let item of employee.education"
                                            class="list-tile-item flex-container hover-show">

                                            <div class="flex-item flex-1">
                                                <div>{{item.education_level}}, {{item.major}}</div>


                                                <div class="color-grey">{{item.education_name}}</div>
                                            </div>
                                            <div class="flex-item flex-05 text-right">
                                                {{item.graduate_year}}
                                                <app-remove-button (onClick)="deleteEmployeeEducation(item)">
                                                    <button
                                                        class="button tiny clear active margin-left-05 hide">-</button>

                                                </app-remove-button>

                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="flex-item flex-1 ">
                                <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                                    style="min-height: 35vh;">
                                    <div class="flex-container align-center margin-bottom-1">
                                        <div class="flex-item flex-1">
                                            <h3 class="margin-bottom-0">Experience</h3>

                                        </div>
                                        <div class="flex-item text-right">
                                            <button (click)="openModal('addExperienceModal')"
                                                class="button small clear margin-bottom-0 active">+
                                                Add</button>
                                        </div>
                                    </div>

                                    <div class="list-tile-container">
                                        <div *ngFor="let item of employee.experience"
                                            class="list-tile-item flex-container hover-show">

                                            <div class="flex-item flex-1">
                                                <div>{{item.company_name}}, {{item.industry}}</div>


                                                <div class="color-grey">{{item.position}}</div>
                                            </div>
                                            <div class="flex-item flex-1 text-right">
                                                {{item.experience_time}}
                                                <app-remove-button (onClick)="deleteEmployeeExperience(item)">
                                                    <button
                                                        class="button tiny clear active margin-left-05 hide">-</button>

                                                </app-remove-button>



                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>






                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <div class="callout padding-center">
                        <h3 class="margin-bottom-1">Note</h3>

                    </div>


                </div>
            </div>
        </div>
    </div>


    <app-modal title="Add Education" (onClose)="closeModal()" *ngIf="showModal == 'addEducationModal'">
        <form class="form margin-bottom-1" [formGroup]="educationForm">


            <label for="">Education Level</label>

            <select formControlName="education_level">
                <option value="Master">Master</option>
                <option value="Diploma">Diploma</option>
                <option value="Senior">Senior</option>
                <option value="Junior">Junior</option>
            </select>



            <label for="">University / School Name</label>
            <input formControlName="education_name" type="text" name="" id="">

            <label for="">Major</label>
            <input formControlName="major" type="text" name="" id="">

            <label for="">Graduate Year</label>
            <input formControlName="graduate_year" type="number" name="" id="">





        </form>
        <button (click)="addEmployeeEducation()" class="button expanded">Add Education</button>
    </app-modal>
    <app-modal title="Add Experience" (onClose)="closeModal()" *ngIf="showModal == 'addExperienceModal'">

        <form class="form margin-bottom-1" [formGroup]="experienceForm">


            <label for="">Company Name</label>
            <input formControlName="company_name" type="text" name="" id="">

            <label for="">Industry</label>
            <input formControlName="industry" type="text" name="" id="">

            <label for="">Position</label>
            <input formControlName="position" type="text" name="" id="">

            <label for="">Experience Years</label>

            <select formControlName="experience_time">
                <option value="< 1 Year">
                    < 1 Year</option> <option value="1 - 2 Years">1 - 2 Years
                </option>
                <option value="2 - 5 Years">2 - 5 Years</option>
                <option value=">5 years">> 5 Years</option>
            </select>









        </form>
        <button (click)="addEmployeeExperience()" class="button expanded">Add Experience</button>
    </app-modal>


</app-body>