.option-container{
    padding: 1rem;
    background: #333333;
    border-radius: 10px;
    position: absolute;
    bottom: 1;
    width: 100%;
    border: 1px solid rgba(119, 119, 119, 0.189) !important;
    z-index: 99999999;
}

.search-container{
    position: relative;
  
    .search-icon{
        position: absolute;
        left: 0;
        line-height: 37px;
        height: 37px;
        padding-left: 0.5rem;
    }
    .search-bar{
        margin-right: 2px;
        input{
            line-height: 36px !important;
            height: 37px !important;
            padding-left: 1.9rem !important;
        }
    }
    .clear-search{
       
        border-radius: 3px;
        background:  rgba(119, 119, 119, 0.685) !important;
        color: rgba(255, 255, 255, 0.7) !important;
        font-size: 14px;
        padding: 0.7rem 0.5rem;
       border: none;
       line-height: 0 !important;
       margin-bottom: 0 !important;
    }
    
}