<app-body [hideNav]="true">
    <div *ngIf="creator" class="row collapse page-enter-from-right">
        <div class="medium-9 columns">
            <div class="page-container border-bottom">

                <div class="margin-bottom-2">
                    <a class="white" [routerLink]="['/creator/creator/']">
                        <fa-icon [icon]="faChevronLeft" class="margin-right-05"></fa-icon>Back to Creator
                    </a>
                </div>

                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">



                    <div class="flex-container align-center">
                        <div class="flex-item  margin-right-2">
                            <img style="width: 130px;height: 130px;" *ngIf="creator.profile_photo_url"
                                class="avatar-image" src="https://placehold.co/200x200" alt="">

                            <div style="width: 130px;height: 130px;" *ngIf="!creator.profile_photo_url"
                                class="avatar-placeholder">
                                {{ getPlaceholderName(creator)}}
                            </div>

                        </div>
                        <div class="flex-item flex-2">
                            <h1>{{creator.first_name}} {{creator.last_name}}</h1>
                            <div class="large-text margin-bottom-1">
                                Lifestyle
                            </div>

                            <div *ngIf="overview" class="row medium-up-4">
                                <div *ngFor="let item of overview" class="columns">
                                    <div class="small-text color-grey">{{item.label}}</div>
                                    <div class="huge-text">{{item.value}}</div>
                                </div>

                            </div>

                        </div>

                        <div class="flex-item text-center">
                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">{{creator.tier}}</h1>
                              
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="medium-4 columns">
                        <div class="callout form padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Personal Information</h3>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [type]="'date'" [label]="'Day of Birth'" [value]="creator.dob"
                                    [id]="'dob'" (onClose)="updateData($event)"></app-form-input>
                            </div>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Domicile'" [value]="creator.location" [id]="'location'"
                                    (onClose)="updateData($event)"></app-form-input>

                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                                <app-form-input [label]="'Alias'" [value]="creator.alias" [id]="'alias'"
                                    (onClose)="updateData($event)"></app-form-input>

                            </div>

                        </div>

                        <div class="callout padding-center medium-grey-bg rounded margin-bottom-1"
                            style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Legal Document</h3>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <app-form-input [label]="'KTP Account'" [value]="creator.ktp" [id]="'ktp'"
                                    (onClose)="updateData($event)"></app-form-input>
                            </div>
                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <app-form-input [label]="'Bank Account'" [value]="creator.bank_account"
                                    [id]="'bank_account'" (onClose)="updateData($event)"></app-form-input>

                            </div>

                            <div class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <app-form-input [label]="'NPWP Account'" [value]="creator.npwp" [id]="'npwp'"
                                    (onClose)="updateData($event)"></app-form-input>
                            </div>


                        </div>

                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 35vh;">
                            <h3 class="margin-bottom-1">Performance</h3>



                            <div *ngFor="let item of creator.performance">
                                <div class="padding-bottom-05 margin-bottom-05">
                                    <app-form-input [placeholder]="'Score 0 - 100'" [isProgress]="true"
                                        [type]="'number'" [label]="item.performance_name"
                                        [value]="item.performance_score" [id]="item.id"
                                        (onClose)="updatePerformance($event)"></app-form-input>
                                </div>



                            </div>




                        </div>
                    </div>

                    <div class="medium-8 columns">

                        <div class="callout padding-center rounded medium-grey-bg margin-bottom-1"
                            style="min-height: 35vh;">


                            <div class="flex-container align-center">
                                <div class="flex-item flex-1">
                                    <h3>Ratecard</h3>
                                </div>
                                <div class="flex-item flex-1 text-right">
                                    <button (click)="openModal('addRate')" class="button small clear active">+
                                        Add</button>

                                </div>
                            </div>

                            <div *ngIf="creator.rate.length>0" class="table-container" style="max-height: 60vh;">
                                <div class="table-header">
                                    <div class="flex-container table-header-item">
                                        <div class="flex-item flex-05">
                                            Last Update
                                        </div>
                                        <div class="flex-item flex-1">
                                            Platform
                                        </div>




                                        <div class="flex-item flex-2">
                                            Service
                                        </div>

                                        <div class="flex-item flex-1">
                                            Price
                                        </div>
                                        <div class="flex-item text-right" style="width: 15px;">


                                        </div>



                                    </div>
                                </div>

                                <div class="table-body">
                                    <div [ngClass]="{'long-fade-in': item.new}" *ngFor="let item of creator.rate"
                                        class="flex-container table-body-item  align-center form">

                                        <div class="flex-item flex-05">
                                            {{item.updated_at | date}}
                                        </div>

                                        <div class="flex-item flex-1">
                                            <div *ngIf="!item.isNew">
                                                {{item.platform_name}}
                                            </div>

                                            <select *ngIf="item.isNew" [(ngModel)]="item.platform_name" name="" id="">
                                                <option value="Instagram">Instagram</option>
                                                <option value="Tiktok">Tiktok</option>
                                            </select>
                                        </div>


                                        <div class="flex-item flex-2">



                                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Name'"
                                                [value]="item.rate_name" [id]="'rate_name'"
                                                (onClose)="updateRate($event,item.id)"></app-form-input>


                                        </div>
                                        <div class="flex-item flex-1">



                                            <app-form-input [isHideLabel]="true" [isHideAction]="true" [label]="'Price'"
                                                [value]="item.rate_price" [id]="'rate_price'"
                                                (onClose)="updateRate($event,item.id)"></app-form-input>


                                        </div>

                                        <div class="flex-item text-right" style="width: 15px;">

                                            <app-remove-button (onClick)="deleteCreatorRate(item)">
                                                <button
                                                    class="button clear hollow tiny active margin-bottom-0">-</button>

                                            </app-remove-button>

                                        </div>

                                        <!-- <div class="flex-item text-right" style="width: 50px;">
                                    
                                            <button  *ngIf="item.edit && !item.isNew" (click)="updateCreatorRate(item)" class="button tiny margin-right-05">Save</button>
                                            <button  *ngIf="item.isNew" (click)="addNewRateCart(item)" class="button tiny margin-right-05">Add</button>
                                        
                                        
                                            <button  *ngIf="!item.edit" class="button clear hollow tiny hide active">Remove</button>
                                            
                                        </div>
                                        -->

                                    </div>
                                </div>
                            </div>

                            <app-placeholder *ngIf="creator.rate.length==0"></app-placeholder>




                        </div>

                        <div class="row medium-up-2">

                            <div class="columns">
                                <div class="callout padding-center medium-grey-bg rounded" style="min-height: 35vh;">
                                    <h3 class="margin-bottom-1">Campaign</h3>
                                    <div *ngFor="let item of creator.campaign"
                                        class="padding-bottom-05 margin-bottom-05 border-bottom">
                                        <div class="flex-container align-center">

                                            <div class="flex-item flex-1">

                                                <div class="large-text">
                                                    {{item.campaign.campaign_name}}
                                                </div>
                                                <div class="large-text color-grey">
                                                    {{item.campaign.start_date | date}}
                                                </div>


                                            </div>

                                            <div class="flex-item">

                                                <button (click)="viewContract(item)"
                                                    class="button  tiny clear active hollow">
                                                    {{item.contract?.id?'Contract #'+item.contract?.id:'Pending Contract'}}
                                                </button>


                                            </div>
                                        </div>
                                    </div>

                                    <app-placeholder *ngIf="creator.campaign.length === 0"></app-placeholder>



                                </div>

                            </div>

                            <div class="columns">
                                <div class="callout padding-center medium-grey-bg rounded" style="min-height: 35vh;">
                                    <div class="flex-container align-center">
                                        <div class="flex-item flex-1">
                                            <h3>Contact</h3>
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            <button (click)="openModal('addContactModal')" class="button small clear active">+
                                                Add</button>

                                        </div>
                                    </div>

                                    <div class="list-tile-container ">
                                        <div *ngFor="let item of creator.contact"
                                            class="margin-bottom-2">
                                          

                                            <div class="flex-container align-center hover-show">
                                                <div class="flex-1">
                                                    <div class="large-text margin-bottom-05">
                                                     {{item.name | titlecase}}
                                                     <div class="color-grey">
                                                        {{item.position}}
                                                     </div>
        
                                                    </div>
                                                </div>
                                                <div class="flex-1 text-right">
                                                    <div class="large-text margin-bottom-05">
                                                     
        
                                                        <app-remove-button class="hide" (onClick)="deleteContact(item.id)">
                                                            <button  class="button tiny active clear">Delete</button>
                                                        </app-remove-button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-tile-container">
                                                <div class="list-tile-item">
                                                    <app-form-input [isHideAction]="true" [type]="'number'" [label]="'Mobile'"
                                                        [id]="'mobile'" [value]="item.mobile"
                                                        (onClose)="updateContact(item.id,$event)"></app-form-input>


                                                </div>
                                                <div class="list-tile-item">





                                                    <app-form-input [isHideAction]="true" [label]="'Work'" [id]="'work'"
                                                        [value]="item.work" (onClose)="updateContact(item.id,$event)">
                                                    </app-form-input>

                                                </div>

                                                <div class="list-tile-item">

                                                    <app-form-input [isHideAction]="true" [label]="'Email'" [id]="'email'"
                                                    [value]="item.email" (onClose)="updateContact(item.id,$event)">
                                                </app-form-input>
    

                                                </div>

                                            </div>

                                           
                                        </div>
                                    </div>

                                    <app-placeholder *ngIf="creator.contact.length === 0"></app-placeholder>
                                </div>

                            </div>
                        </div>


                    </div>


                </div>




            </div>




        </div>
        <div style="position: sticky;top:0" class="medium-3 columns">
            <div class="right-bar-container fullheight">
                <div class="right-bar-content medium-grey-bg fullheight">
                    <div class="callout padding-center">
                        <h3 class="margin-bottom-1">Social Media Metric</h3>
                        <div class="padding-center">

                            <button class="button expanded">Add Instagram Account</button>

                            <button class="button expanded">Add Tiktok Account</button>
                        </div>
                    </div>

                    <!-- <div class="padding-bottom-05 margin-bottom-05 border-bottom form-mini">
                        <app-form-input [type]="'number'" [label]="'Follower'" [value]="'test'" [id]="'dob'"
                            (onClose)="updateSocialMetric($event)"></app-form-input>
                    </div> -->


                </div>
            </div>
        </div>
    </div>

    <app-modal (onClose)="closeModal()" [title]="'Edit Contact'" *ngIf="showModal == 'editContactModal'">
        ..
    </app-modal>
    <app-modal (onClose)="closeModal()" [title]="'Manager'" *ngIf="showModal == 'managerModal'">
        ..
    </app-modal>
    <app-modal (onClose)="closeModal()" [title]="'Add Rate'" *ngIf="showModal == 'addRate'">
        <div class="form" [formGroup]="creatorRateForm">
            <label for="">Platform</label>
            <select formControlName="platform_name">
                <option value="instagram">Instagram</option>
                <option value="tiktok">TikTok</option>
            </select>
            <label for="">Service Name</label>
            <input formControlName="rate_name" type="text">
            <label for="">Price</label>
            <input formControlName="rate_price" type="number">
        </div>

        <button (click)="addNewRateCart()" class="button rounded expanded">Add New Rate Cart</button>
    </app-modal>

    <app-modal (onClose)="closeModal()" [title]="'Contract'" *ngIf="showModal == 'contractModal'">
        <div *ngIf="selected_contract">
            <div class="list-tile-container margin-bottom-2">
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Contract ID #{{selected_contract.id}}
                            <div class="color-grey">
                                Custom ID #{{selected_contract.custom_contract_id}}
                            </div>
                        </div>

                        <div class="flex-item flex-1">
                            <a class="color-grey link"> Download</a>
                        </div>
                    </div>
                </div>

                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Status

                        </div>
                        <div class="flex-item flex-1">
                            <div class="status-label">
                                {{selected_contract.status}}
                            </div>


                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Payment Status
                            <div class="color-grey">
                                Invoice #{{selected_contract.invoice_number}}
                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="status-label">
                                {{selected_contract.payment_status}}
                            </div>


                        </div>
                    </div>
                </div>


                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Budget
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.budget}}
                        </div>
                    </div>
                </div>
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Gross Up
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.gross_up}}
                        </div>
                    </div>
                </div>
                <div class="list-tile-item">
                    <div class="flex-container">
                        <div class="flex-item flex-2">
                            Term of Payment
                        </div>
                        <div class="flex-item flex-1">
                            {{selected_contract.term_of_payment}}
                        </div>
                    </div>
                </div>


            </div>
            <h5>Scope of Work</h5>
            <div class="list-tile-container">
                <div *ngFor="let item of selected_contract.scope_of_work" class="list-tile-item">
                    {{item.value}}
                </div>
            </div>
        </div>
    </app-modal>

    <app-modal *ngIf="showModal=='addContactModal'" [title]="'Add Contact'">


        <form class="form margin-bottom-1" [formGroup]="contactForm">


            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Name</label>
                    <input formControlName="name" type="text" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Position</label>
                    <input formControlName="position" type="text" name="" id="">


                </div>
            </div>


            <div class="flex-container">
                <div class="flex-item flex-1 margin-right-05">
                    <label for="">Mobile</label>
                    <input formControlName="mobile" type="number" name="" id="">

                </div>
                <div class="flex-item flex-1">
                    <label for="">Work</label>
                    <input formControlName="work" type="number" name="" id="">


                </div>
            </div>



        </form>
        <button (click)="addContact()" class="button expanded">Add Contact</button>
    </app-modal>

</app-body>