<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Campaign</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addCampaignModal')" class="button rounded  clear active ">+ Add Campaign</button></li>
                              

                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <app-table-action></app-table-action>


            <div *ngIf="campaign" class="fade-in">

                <div *ngIf="campaign.length !==0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-1">
                                Campaign Name
                            </div>



                           

                            <div class="flex-item flex-1">
                               Periode
                            </div>

                          



                            <div class="flex-item flex-1">
                                Participant
                            </div>

                            <div class="flex-item flex-1">
                                Rewards
                            </div>

                            <div class="flex-item flex-1">
                                Status
                            </div>



                        </div>
                    </div>
                    <div class="table-body ">
                        <div (click)="_navigateTo(item.id)"   *ngFor="let item of campaign" class="flex-container cursor table-body-item align-center">



                            <div class="flex-item flex-1 cursor">
                              {{item.campaign_name}}
                              <div class="color-grey">{{item.description}}</div>
                            </div>



                         
                            <div class="flex-item flex-1">
                               {{item.start_date | date}} - 
                               {{item.end_date | date}}
                            </div>

                            



                            <div class="flex-item flex-1">
                               {{item.total_participant}}
                            </div>

                            <div class="flex-item flex-1">
                                {{item.reward_value}}
                            </div>



                            <div class="flex-item flex-1">
                                <app-status-label [label]="item.status" [label_list]="booking_status"></app-status-label>
                            </div>


                        </div>

                    </div>
                </div>

                <app-placeholder *ngIf="campaign.length === 0"></app-placeholder>

            </div>









        </div>

    </div>


    <app-modal title="Add Campaign" (onClose)="closeModal()" *ngIf="showModal == 'addCampaignModal'">

        <form class="form margin-bottom-1" [formGroup]="campaignForm">


            <label for="">Name</label>
            <input formControlName="campaign_name" type="text" name="" id="">

            <label for="">Description</label>
            <input formControlName="description" type="text" name="" id="">

            
            <label for="">Quota</label>
            <input formControlName="quota" type="number" name="" id="">



            <label for="">Reward</label>
            <input formControlName="reward_value" type="text" name="" id="">


            <label for="">Community</label>
            <select  formControlName="community_id" name="" id="">
                <option value="1">Mak Pintar</option>
                <option value="2">Pekerja Pintar</option>
            </select>
           


            <label for="">Start Date</label>
            <input formControlName="start_date" type="date" name="" id="">

            <label for="">End Date</label>
            <input formControlName="end_date" type="date" name="" id="">



        </form>
        <button [disabled]="!campaignForm.valid" (click)="addCommunityCampaign()" class="button expanded">Add Campaign & Continue Edit</button>
    </app-modal>

    
</app-body>