/* You can add global styles to this file, and also import other style files */
@import './../src/assets/css/app.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap');
@import '~ngx-toastr/toastr';

.cursor {
  cursor: pointer;
}

.hover-show{
  &:hover{
    .hide{
      display: inline-block !important;
    }
  }
}

.more-button{
  position: absolute;
  right: 1%;
  top: 7%;
}



.avatar-placeholder{
  border-radius: 100%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: white;
  background: #333;
  font-size: 13px;text-transform: uppercase;
}

.task-container {
  position: relative;
  min-height: 120px;

  .more-info {
    position: absolute;
    top: 15px;
    right: 15px
  }

  .more-info-bottom {
    position: absolute;
    bottom: 5px;
    right: 15px;
  }

}

.add-person {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 2px solid #29292947 !important;
  border-radius: 100%;
  font-size: 10px;
  background: #29292947 !important;

  .icon {
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
  }
}

a.link{
  color: #cccccc;
  &:hover{
    border-bottom: 2px solid #cccccc;
  }
}

.page-container {
  padding: 2% 3%;

}

.title-container {
  margin-bottom: 2rem;
}

//button

.button {
  &.clear {
    background: transparent !important;
    border: none !important;
    &:hover {
      background: #29292947 !important;
      color: white;
  
    }
  }

  &.hollow {

    border: 2px solid #29292947 !important;
  }

  &.active {

  
    background: #29292947 !important;
    color: #737881;
  }


}

.pagination-button {
  background: #29292947 !important;
  color: #cccccc !important;
  border: none;
  padding: 0.3rem 0.7rem !important;
  line-height: 1;
  font-size: 12px;
  margin: 0;
}

.width-25 {
  width: 15%;
  float: left;
  display: inline-block;
}

.width-75 {
  width: 85%;
  float: right;
  display: inline-block;
}

.width-100 {
  width: 100%;
  float: left;
  display: inline-block;
}

.page-from-left {
  animation: show-from-left 3s;
}

@keyframes page-from-left {
  0% {
    background: red;
  }

  100% {
    background: yellow;
  }
}

.test-media{
  display: none;
}



/* IPHONE */
@media only screen and (min-width: 360px) and (max-height: 932px) and (-webkit-min-device-pixel-ratio: 1.5) {
  //   .page-container{
  //     padding: 1%;

  //   }
  //   .hide-for-mobile{
  //     display:none !important
  //   }
  // .width-25{
  //   width: 100%;
  //   float: left;
  //   display: inline-block;
  // }
  // .width-75{
  //   width: 100%;
  //   float: left;
  //   display: inline-block;
  // }
}


.flex-item {
  flex-wrap: nowrap;
}

.color-grey {
  color: #616161 !important;
}

body,
.main-body {
  background: #121111;
  color: #cccccc !important
}

.list-tile-container {
 


  .list-tile-item {
    border-bottom:1px solid #29292947 !important;
    padding: 0.5rem 0;
    font-size: 14px;


  }

  .list-tile-item:last-child {
    border-bottom: none;

  }
}

.form {
  .input,
  input,
  select,
  textarea {
   
    margin-bottom: 1rem;
    font-size: 16px !important;
    border-radius: 3px !important;
    padding: .5rem 0.7rem !important;
    line-height: 1.5;
    color: #cccccc !important;
    // background: #272829 !important;
    background: #292929 !important;

  }
}

.table-action {
  padding: 0.5rem 0;

  input {
    margin: 0
  }
}

.table-container{
  overflow-x: auto;
}
.table-header {

 
  .table-header-item {
    padding: 1rem 1rem;
    font-size: 12px;
    
   
    color: #616161 !important;

    .flex-item {
      margin-right: 0.7rem;
      
    }

    &:hover {
      transition: all .3s ease;
    }
  }
}

.margin-right-02 {
  margin-right: 0.2rem;
}

.table-body {
  
  
  .table-body-item {
    padding: 1rem 1rem;
    font-size: 14px;
     overflow-wrap: break-word;
    background: #29292947;
    border-radius: 3px;
    margin-bottom: 2px;
   
    &.border{
      border: 1px solid #29292947;
      background: unset;
      &:hover {
        transition: all .7s ease;
        background: rgba(36, 36, 36, 0.66);
        border: 1px solid #ccccccbc;
      }
      &.border:last-child {
      border: 1px solid #29292947;
    
      }
    }

    .flex-item {
      margin-right: 0.7rem;

    }

    &:hover {
      transition: all .1s ease;
      background: rgba(255, 255, 255, 0.055);
    }
  }

  .table-body-item:last-child {
    border-bottom: none;

  }
}


.padding-bottom-05 {
  padding-bottom: 0.5rem;
}



::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #616161
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #616161
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #616161
}

.content-wrapper {
  padding: 0 3%
}

.border-bottom {
  border-bottom: 1px solid #29292947 !important;
}

.mat-progress-bar-buffer {
  background-color: #101010 !important;
}


.callout.padding-mini-center {
  padding: 1rem;
}

.gray-color {
  color: #cccccc !important
}

.medium-grey-bg {
  background-color: #29292947 !important;
  color: #cccccc !important
}

.chips {


  border-radius: 25px;


  display: block;

  &.active {
    background: #cccccc !important;
    color: #333333 !important;
  }
}

.fade-in {
  animation: fadeIn 0.4s;
}

.long-fade-in {
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}


.page-enter-from-left {
  animation: page-enter-from-left 0.3s;
}

@keyframes page-enter-from-left {
  0% {
    transform: translateX(-50%);
    opacity: 0.4;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.page-enter-from-right {
  animation: page-enter-from-right .3s;
}

@keyframes page-enter-from-right {
  0% {
    transform: translateX(50%);
    opacity: 0.4;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.page-enter-from-bottom {
  animation: page-enter-from-bottom .2s;
}

@keyframes page-enter-from-bottom {
  0% {
    transform: translateY(70%);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.page_out_to_right {
  animation: page-out-to-right .3s;
}

@keyframes page-out-to-right {
  0% {
    transform: translateX(0%);

  }

  100% {
    transform: translateX(100%);

  }
}




//
.right-bar-container {
  .right-bar-content {
    padding: 2rem;
    position: relative;

  }
}

.span-label {
  border: 1px solid #29292947 !important;
  font-size: 8px;
  padding: 2px 10px;
  font-weight: 600;
  text-transform: uppercase;

  border-radius: 3px;
  letter-spacing: 1px;
  &.Nano {
    // background:  #a25fff !important;
    background: #333 !important;
  }
  &.Micro {
    // background:  #a25fff !important;
    background: #333 !important;
  }

  &.Macro {
    // background:  #a25fff !important;
    background: #333 !important;
    border: 1px solid #a25fff !important;
  }

  &.Mega {

    // background:  #ff5ff7 !important;
    background: #a25fff !important;
  }

  &.sucess {

    // background:  #ff5ff7 !important;
    background: #7634ee !important
  }

  &.warning {

    // background:  #ff5ff7 !important;
    background: #ff981f87 !important
  }



}


.modal-container {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 3% 5%;
  z-index: 99999999999999;
  transition: all 10s ease;

  .modal-content {
    background: #424242 !important;
    min-height: 80vh;
    position: relative;
  }

  .callout {
    background: #191919 !important
  }

  .close {
    font-size: 22px;
    position: absolute;
    top: 2%;
    right: 2%;
    font-weight: bold;
    color: white !important;

  }
}

.modal-container-right {
  position: fixed;
  width: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: #333333;
  // background: #171717;
  z-index: 9999999999;

  .modal-content {
    z-index: 9999999999;
    width: 100%;

    min-height: 100vh;
    position: relative;
  }

  .callout {}

  .close {
    font-size: 22px;
    position: absolute;
    top: 3%;
    right: 5%;
    font-weight: bold;
    color: white !important;

  }
}

.show-from-left {
  animation: show-from-left 0.5s;
}

@keyframes show-from-left {
  0% {
    right: -25%;
    z-index: 9999999999;
  }

  100% {
    right: 0
  }
}







/* IPAD */
@media only screen and (min-width: 768px) and (max-height: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1.5) {
  .hide-on-tablet{
    display: none !important;
  }
  .test-media{
    display: block;
  }
  h1{
    font-size: 22px !important;
  }
  h2{
    font-size: 20px  !important;
  }
  h3{
    font-size: 18px  !important;
  }



  .callout.padding-center{
    padding: 1.5rem;
  }
  .table-header .table-header-item{
    font-size: 12px;
  }
  .table-body .table-body-item {
    font-size: 12px;
  }
  .large-text{
    font-size: 12px !important;
  }
  .small-text{
    font-size: 10px !important;
  }

  .tiny-text{
    font-size: 8px !important;
  }





}