<app-body [hideNav]="true">
    <div class="page-container">
        <div class="row">
            <div class="medium-8 columns">
                <div class="callout padding-center rounded medium-grey-bg margin-bottom-1">


                    <div class="flex-container align-center">
                        <div class="flex-item flex flex-1 margin-right-1">
                            <img style="width: 130px;height: 130px;" class="avatar-image"
                                src="https://asset-2.tstatic.net/jambi/foto/bank/images/0011-Anya-Geraldine.jpg" alt="">
                        </div>
                        <div class="flex-item flex-3">
                            <h2>Anya Geraldine, Creator</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                                Lorem Ipsum ha</p>

                                <div class="row medium-up-2">
                                    <div class="columns">
                                        <div class="tiny-text color-grey">Instagram</div>
                                        <div class="huge-text">30K Follower</div>
                                    </div>
                                    <div class="columns">
                                        <div class="tiny-text color-grey">Tik Tok</div>
                                        <div class="huge-text">30K Follower</div>
                                    </div>
                                </div>
                        </div>
                        <div class="flex-item flex-05 text-center">
                            <div class="callout padding-center medium-grey-bg rounded border">
                                <h1 class="margin-bottom-0">Micro</h1>
                                <div class="large-text color-grey">300K Follower</div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- TABLE SAMPLE -->

                <div class="callout padding-center rounded medium-grey-bg elevate form margin-bottom-1 table"
                    style="min-height: 35vh;">

                    <div class="title-container">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">
                                <!-- <h3>Rate Card</h3> -->

                            </div>
                            <div class="flex-item flex-1">
                                <!-- <div class="flex-item flex-1 text-right">
                                <ul class="menu menu-align-right">

                                    <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                                

                                </ul>
                                </div> -->

                            </div>

                        </div>
                    </div>


                    <app-tab-menu [tab_menu_list]="tab_menu_list"></app-tab-menu>


                    <div class="">
                        <div class="table-header">
                            <div class="flex-container table-header-item">



                                <div class="flex-item flex-2">
                                    Activity
                                </div>
                                <div class="flex-item flex-1">
                                    Activity Date
                                </div>


                                <div class="flex-item flex-1">
                                    Type
                                </div>

                                <div class="flex-item flex-1">
                                    Value
                                </div>

                                <div class="flex-item flex-1">
                                    Create By
                                </div>

                            </div>
                        </div>
                        <div class="table-body ">
                            <div class="flex-container cursor table-body-item align-center">




                                <div class="flex-item flex-2">
                                    Activity
                                </div>
                                <div class="flex-item flex-1">
                                    Create Date
                                </div>


                                <div class="flex-item flex-1">
                                    Collect
                                </div>

                                <div class="flex-item flex-1">
                                    + 100 Points
                                </div>

                                <div class="flex-item flex-1">
                                    Create By
                                </div>



                            </div>

                        </div>

                    </div>














                </div>

                <div class="row margin-bottom-1">
                    <div class="medium-6 columns">
                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 25vh;">
                            <h3 class="margin-bottom-1">My Contract</h3>
                            <div *ngFor="let item of [].constructor(2)"  class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-1">
                                        <div class="large-text">
                                          Contact No 12312
                                        </div>
                                        <div class="small-text color-grey">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                        </div>
                                    </div>
                                    <div class="flex-item color-grey small-text">
                                        <fa-icon [icon]="faDownload"></fa-icon> Download
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="callout padding-center medium-grey-bg rounded" style="min-height: 25vh;">
                            <h3 class="margin-bottom-1">Manager Contact</h3>
                            <div *ngFor="let item of [].constructor(2)" class="padding-bottom-05 margin-bottom-05 border-bottom">
                                <div class="flex-container align-center">
                                    <div class="flex-item margin-right-05">
                                        <img class="avatar-image" src="https://placehold.co/200x200" alt="">
                                    </div>
                                    <div class="flex-item flex-1">
                                        <div class="large-text">Manager Anya</div>
                                        <div class="tiny-text">
                                            <fa-icon [icon]="faPhone"></fa-icon> 0821-91291-2123
                                        </div>
                                        <div class="tiny-text">
                                            <fa-icon [icon]="faEnvelope"></fa-icon> manager.anya@gmail.com
                                        </div>
                                    </div>
                                    <div class="flex-item">
                                        <button class="button tiny clear hollow">
                                            <fa-icon [icon]="faChevronDown">
                                            </fa-icon>
                                        </button>
    
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>




            </div>
            <div class="medium-4 columns">
                <div class="">
                    <h2 class="">My Campaign</h2>
                    <app-tab-menu [tab_menu_list]="tab_menu_list_campaign"></app-tab-menu>
                    <div *ngFor="let item of [].constructor(3)"
                        class="callout padding-center-1 rounded medium-grey-bg margin-bottom-1">
                        <div class="info-container margin-bottom-1">
                            <div class="huge-text">
                                Valentince Thematic Post! Collab with Silverqueen
                            </div>
                            <div class="large-text color-grey margin-bottom-1">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                            </div>
                        </div>

                        <div class="flex-container align-center small-text color-grey">
                            <div class="flex-item flex-1 margin-right-05">
                                <div class="flex-container align-center">
                                    <div class="flex-item margin-right-02">
                                        <img style="width: 30px;height: 30px; border: 2px solid #ccc !important"
                                            class="avatar-image"
                                            src="https://asset-2.tstatic.net/jambi/foto/bank/images/0011-Anya-Geraldine.jpg"
                                            alt="">
                                    </div>
                                    <div class="flex-item margin-right-02" style="margin-left: -15px;">
                                        <img style="width: 30px;height: 30px; border: 2px solid #ccc !important"
                                            class="avatar-image"
                                            src="https://asset-2.tstatic.net/jambi/foto/bank/images/0011-Anya-Geraldine.jpg"
                                            alt="">
                                    </div>
                                    <div class="flex-item margin-right-02" style="margin-left: -15px;">
                                        <img style="width: 30px;height: 30px; border: 2px solid #ccc !important"
                                            class="avatar-image"
                                            src="https://asset-2.tstatic.net/jambi/foto/bank/images/0011-Anya-Geraldine.jpg"
                                            alt="">
                                    </div>

                                    <div class="flex-item">
                                        +30 Participan
                                    </div>


                                </div>
                            </div>
                            <div class="flex-item margin-right-1">
                                <!-- <fa-icon [icon]="faCoins"></fa-icon> 3000 Points -->
                            </div>
                            <div class="flex-item">
                                <fa-icon [icon]="faCalendar"></fa-icon> 3 Jan 2024
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>

</app-body>