<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Member</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('addCommunityMemberModal')"
                                        class="button rounded  clear active">+ Add Member</button></li>


                            </ul>
                        </div>

                    </div>

                </div>
            </div>

          <div *ngIf="community" class="flex-container margin-bottom-1">
            <div *ngFor="let item of community" class="flex-1 margin-right-1">
                <div class="callout padding-center rounded medium-grey-bg">
                    <h5>{{item.name}}</h5>

                    <div class="row collapse medium-up-2">
                        <div class="columns">
                            <div class="tiny-text color-grey">
                                Total Member
                            </div>
                            <div class="large-text">
                                {{item.total_member}}
                            </div>
                        </div>
                        <div class="columns">
                            <div class="tiny-text color-grey">
                                Total Campaigns
                            </div>
                            <div class="large-text">
                                {{item.total_campaign}}
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
          </div>


            <app-table-action></app-table-action>

            <div class="fade-in" *ngIf="member">

                <div *ngIf="member.length !== 0">
                    <div class="table-header">
                        <div class="flex-container table-header-item">


                            <div class="flex-item flex-1">
                                Member
                            </div>



                          
                            <div class="flex-item flex-1">
                                Join Date
                            </div>

                            <div class="flex-item flex-1">
                                Active Campaign
                            </div>



                            <div class="flex-item flex-1">
                                Total Points
                            </div>

                            <div class="flex-item flex-1">
                                Status
                            </div>










                        </div>
                    </div>
                    <div class="table-body ">
                        <div *ngFor="let item of member"
                            class="flex-container cursor table-body-item align-center hover-show">



                            <div (click)="_navigateTo(item.id)" class="flex-item flex-1">
                                <div class="flex-container align-center">
                                    <div class="flex-item margin-right-05">
                                        <div class="avatar-container" style="width: 60px;height: 60px;">
                                            <img style="width: 60px;height: 60px;" *ngIf="item.profile_photo_url"
                                                class="avatar-image" [src]="item.profile_photo_url" alt="">

                                            <div *ngIf="!item.profile_photo_url"
                                                style="width: 60px;height: 60px;line-height: 60px;"
                                                class="avatar-placeholder">
                                                {{ getPlaceholderName(item)}}
                                            </div>
                                        </div>





                                    </div>
                                    <div class="flex-item flex-1">
                                        <div>
                                            {{item.first_name}} {{item.last_name}}
                                            <fa-icon class="hide" [icon]="faExpandAlt"></fa-icon>
                                        </div>
                                        <div class="color-grey">
                                            {{item.location}}
                                        </div>

                                        {{item.community?.name}}
                                    </div>


                                </div>
                            </div>



                           

                            <div class="flex-item flex-1">
                                {{item.created_at | date}}
                            </div>

                            <div class="flex-item flex-1">
                              {{item.total_campaign}}
                            </div>



                            <div class="flex-item flex-1">
                              {{item.total_points}}
                            </div>

                            <div class="flex-item flex-1">
                            
                                <app-status-label [label]="item.status" [option]="member_status"
                                (onSelect)="updateCommunityMember($event,item.id)"></app-status-label>

                            </div>


                        </div>

                    </div>
                </div>

                <app-placeholder *ngIf="member.length ===0"></app-placeholder>

            </div>









        </div>

    </div>

    <app-modal title="Add Member" (onClose)="closeModal()" *ngIf="showModal == 'addCommunityMemberModal'">

        <form class="form margin-bottom-1" [formGroup]="memberForm">


            <label for="">First Name</label>
            <input formControlName="first_name" type="text" name="" id="">

            <label for="">Last Name</label>
            <input formControlName="last_name" type="text" name="" id="">
            <label for="">Community</label>
            <select formControlName="community_id" name="" id="">
                <option value="1">Mak Pintar</option>
                <option value="2">Pekerja Pintar</option>
            </select>

            <label for="">Domicile</label>
            <input formControlName="location" type="text" name="" id="">

            <label for="">Instagram Account</label>
            <input formControlName="instagram_account" type="text" name="" id="">

            <label for="">Follower</label>
            <input formControlName="instagram_follower" type="text" name="" id="">



            

        </form>
        <button [disabled]="!memberForm.valid" (click)="addCommunityMember(false)" class="button expanded">Add Member</button>
        <button [disabled]="!memberForm.valid" (click)="addCommunityMember(true)" class="button expanded">Add Member & Continue Edit</button>
    </app-modal>

</app-body>