<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Contact</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <!-- <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                              

                            </ul>
                        </div> -->

                    </div>

                </div>
            </div>




            <app-table-action></app-table-action>

            <div>

                <div class="table-header">
                    <div class="flex-container table-header-item">


                        <div class="flex-item flex-1">
                            Name
                        </div>


                        <div class="flex-item flex-1">
                            Position
                        </div>

                        <div class="flex-item flex-1">
                            Email
                        </div>

                        <div class="flex-item flex-1">
                            Mobile
                        </div>

                        <div class="flex-item flex-1">
                            Work
                        </div>



                        <div class="flex-item flex-1">
                           Belongs To
                        </div>

                    </div>
                </div>
                <div class="table-body ">
                    <div *ngFor="let item of contact" class="flex-container cursor table-body-item align-center">



                        <div class="flex-item flex-1">
                            <app-form-input [isHideAction]="true" [isHideLabel]="true" [label]="'Name'" [id]="'name'" [value]="item.name" (onClose)="updateContact(item.id,$event)"></app-form-input>
                   

                        </div>


                        <div class="flex-item flex-1">
                            <app-form-input [isHideAction]="true" [isHideLabel]="true" [label]="'Position'" [id]="'position'" [value]="item.position" (onClose)="updateContact(item.id,$event)"></app-form-input>
                   

                  
                        </div>

                        <div class="flex-item flex-1">
                            <app-form-input [isHideAction]="true" [isHideLabel]="true" [label]="'Email'" [id]="'email'" [value]="item.email" (onClose)="updateContact(item.id,$event)"></app-form-input>
                   
                        </div>

                        <div class="flex-item flex-1">
                          
                            <app-form-input [isHideAction]="true" [isHideLabel]="true" [label]="'Mobile'" [id]="'mobile'" [value]="item.mobile" (onClose)="updateContact(item.id,$event)"></app-form-input>
                   
                        </div>

                        <div class="flex-item flex-1">
                            <app-form-input [isHideAction]="true" [isHideLabel]="true" [label]="'Work'" [id]="'work'" [value]="item.work" (onClose)="updateContact(item.id,$event)"></app-form-input>
                   
                        </div>



                        <div class="flex-item flex-1">
                         

                           <div  *ngIf="item.creator" class="status-label good">
                            <fa-icon [icon]="faVideo"></fa-icon>   {{item.creator.first_name}}   {{item.creator.last_name}}
                         
                           </div>

                           <div  *ngIf="item.client" class="status-label good">
                            <fa-icon [icon]="faUserTie"></fa-icon>   {{item.client.client_name}}  
                         
                           </div>
                        
                         
                           
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>

</app-body>