<div class="callout pagination text-center">
    <div class=" flex-container" style="display: inline-flex;">
        <div class="flex-item margin-right-05">
            <button class="button pagination-button"><fa-icon [icon]="faChevronLeft"  class="icon"></fa-icon></button>
          
          </div>
      <div class="flex-item margin-right-05">
        <button class="button pagination-button">1</button>
      
      </div>
      <div class="flex-item margin-right-05">
        <button class="button pagination-button">1</button>
      
      </div>
      <div class="flex-item margin-right-05">
        <button class="button pagination-button">1</button>
      
      </div>
      <div class="flex-item margin-right-05">
        <button class="button pagination-button"><fa-icon [icon]="faChevronRight"  class="icon"></fa-icon></button>
      
      </div>
    </div>
</div>