<app-body>
    <div class="page-container">


        <!-- TABLE SAMPLE -->
        <div class="callout fullheight padding-center rounded medium-grey-bg elevate form margin-bottom-05 table">

            <div class="title-container">
                <div class="flex-container align-center">
                    <div class="flex-item flex-1">
                        <h1>Ticket</h1>

                    </div>
                    <div class="flex-item flex-1">
                        <!-- <div class="flex-item flex-1 text-right">
                            <ul class="menu menu-align-right">

                                <li> <button (click)="openModal('createContractModal')" class="button rounded  clear ">+ Create Contract</button></li>
                              

                            </ul>
                        </div> -->

                    </div>

                </div>
            </div>






            <div *ngIf="ticket" class="fade-in">
                <app-table-action></app-table-action>
                <div class="table-header">
                    <div class="flex-container table-header-item">




                        <div class="flex-item flex-2">
                            Title
                        </div>

                        <div class="flex-item flex-1">
                            Sender
                        </div>


                        <div class="flex-item flex-1">
                            Receive Date
                        </div>



                        <div class="flex-item flex-1">
                            Priority
                        </div>






                        <div class="flex-item flex-1">
                            Status
                        </div>

                        <div class="flex-item flex-05 text-right">

                        </div>




                    </div>
                </div>
                <div class="table-body ">
                    <div *ngFor="let item of ticket" (click)="_navigateTo(item.id)"
                        class="flex-container cursor table-body-item align-center">




                        <div class="flex-item flex-2">
                            <div><span class="span-label Macro"> {{item.topic}}</span></div>
                            {{item.title}}
                        </div>

                        <div class="flex-item flex-1">
                            {{item.member?.first_name}} {{item.member?.last_name}}
                        </div>



                        <div class="flex-item flex-1">
                            {{item.created_at | date}}
                        </div>


                        <div class="flex-item flex-1">
                            <app-status-label [label]="item.priority" [label_list]="booking_status"></app-status-label>
                        </div>



                        <div class="flex-item flex-1">
                            <app-status-label [label]="item.status" [label_list]="booking_status"></app-status-label>
                        </div>

                        <div class="flex-item flex-05 text-right">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                        </div>





                    </div>

                </div>

            </div>









        </div>

    </div>

</app-body>